[2015-10-05 13:49] olliefreeman opened #38 "Grails 3 org.hibernate.HibernateException: No Session found for current thread"
Don't know if this is a grails 3 issue or the plugin issue, or if I shouldn't be able to do this.

I want to preload data into the database for known datatypes, (reference data).
This post is from 2010 so it is very possible capabilities have changed we shouldn't be able to do this
http://refactr.com/blog/2012/01/grails-database-migration-gotchas/
but I'd like to be able to call `save()` on a doma

[2015-10-06 15:33] olliefreeman opened #39 "ignoredObjects doesn't appear to work"
This may be just through a lack of documentation but my understanding of ignoredObjects is a list of strings of class objects to ignore for generating tables.

Not sure if this is class.simpleName or class.canonicalName but either way its still producing changesets for the classes i want to ignore.

[2015-10-24 16:54] TechFanDan opened #40 "dbm-update fails"
I'm on Windows 7 Pro, Cygwin, SDK Man, Grails 3.0.9.

I'm able to use migration scripts using dbm-generate-changelog and dbm-generate-gorm-changelog.

My application.yml:

    dataSource:
    pooled: true
    jmxExport: true
    driverClassName: org.h2.Driver
    username: sa
    password:

    environments:
    development:
        dataSource:
            dbCreate: none
            url: jdbc:h2:d

[2015-10-26 03:59] burtbeckwith commented on #40
This is the Grails 2 plugin; report issues for the Grails 3 plugin at https://github.com/yamkazu/database-migration/issues

[2015-10-26 13:15] bobbywarner commented on #40
@burtbeckwith @TechFanDan No, this repo is for Grails 3 and Grails 2.  The master branch is the Grails 3 version and the 1.x branch is for the Grails 2 version.  So, I'll reopen this issue.

[2015-10-26 13:18] TechFanDan commented on #40
What to do with the issue I just posted in /yamkazu/database-migration ?

Also, I've had the weekend to think about it and perhaps my application.yml is causing the issue? I want to manually call dbm-update thus had this config:

dbCreate: none

Should it be just left empty?

[2015-10-26 13:44] bobbywarner commented on #40
@TechFanDan I would close your issue in `yamkazu/database-migration`.

`dbCreate: none` should be fine and not the cause of the issue.  I'll have to look into it.

[2015-11-09 23:57] benlucchesi opened #41 "can't create indexes from GORM mapping"
Hi,

I'm trying to create indexes from a domain class mapping and I'm getting exceptions thrown.

here's the mapping:
[code]
here's the command:
$grails dbm-gorm-diff --debug
:compileJava UP-TO-DATE
:compileGroovy UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:findMainClass
:dbmGormDiff
objc[10755]: Class JavaLaunchHelper is implemented in both /Library/Java/JavaVirtualMachines/jdk1.

[2015-11-11 06:53] ctoestreich opened #42 "Possible plugin load order issue"
Trying to run some of the dbm* commands produces an odd issue where a domain class is using springSecurityService

[code]

[code]

This issue only came up due to me attempting to use the SSS in a println, but it might want to be changed in this plugin to loadafter spring-security-core

[2015-11-30 10:51] orkonano opened #43 "Domian with properties nullable: true create table with same field nullable: false"
I have a domain object with some properties setting with contraints nullable: true

[code]

And when I run the script

[code]

the plugins generate a table with the property user not nullable

[code]

[code]

I'm using grails 3.0.9, org.grails.plugins:hibernate:4.3.10.7 and org.grails.plugins:database-migration:2.0.0.RC1.
I think that is a bugs, because in previuos version of the plugin this featu

[2015-12-07 18:07] bwagner5 commented on #42
It looks like it's trying to run Bootstrap.groovy. I tried a `grails dbm-drop-all` and it prints out my Bootstrap logs and fails because the scripts I have running in Bootstrap are failing.

[2015-12-22 10:18] robertoschwald commented on #40
Same problem hit me today. "dbCreate: none" is not documented in http://grails.github.io/grails-doc/3.0.x/guide/single.html, so the only hint was this issue. Strange thing is, that it seems Grails behavior is different depending if you use application.yml for dataSource config or application.groovy. If you use application.groovy, you just need to delete the dbCreate: key. In application.yml, you m

[2015-12-30 19:44] emilio2hd commented on #38
Same here :disappointed:

[2016-01-03 22:18] emilio2hd commented on #38
@olliefreeman I guess GORM it's not supported anymore, the documentation says:
[code]
http://grails-plugins.github.io/grails-database-migration/docs/manual/guide/groovyChanges.html

[2016-01-06 17:58] rvanderwerf opened #44 "dbm-update and other commands not found on 2.0.0-RC1"
I've run into a problem in our app that makes the dbm-update and all the other commands say not found when running them. The only one that works is 'dbm-create-changelog'.
***
grails> dbm-create-changelog
| Error The dbm-create-changelog command requires a filename (Use --stacktrace to see the full trace)
grails> dbm-update

FAILURE: Build failed with an exception.

* What went wrong:
Task 'dbmUpd

[2016-01-06 22:38] rvanderwerf commented on #44
closing this was user error. I set up my demo app the same as my other one incorrectly in my example.

[2016-01-06 22:38] #44 closed

[2016-01-12 21:26] adrianosaaquino opened #45 "dbm-gorm-diff not update DATABASECHANGELOG and not update "file.groovy""
Using grails 3.0.11, grails-database-migration 2.0.0.RC1 and java version "1.7.0_72".

When execute "$ grails dbm-gorm-diff add_autho.groovy --add" generate empty file and create table.

Steps:
[code]

File "build.gradle":

Add:
[code]

[code]

And sourceSets:

[code]

Execute
[code]

File "grails-app/migration/changelog.groovy" created successful. [OK]

Config database:

"grails-app/conf/applicat

[2016-01-18 19:35] rvanderwerf opened #47 "ConCurrentModificationException running dbm-gorm-diff in Grails 3.0.11"
I can't seem to run within a multi-module gradle project the 'dbm-gorm-diff' command:

Command execution error: liquibase.command.CommandExecutionException: java.util.ConcurrentModificationException
dbmGormDiff FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':dbmGormDiff'.

* Try:
Run with --info or --debug option to get more log output.

* Exception

[2016-01-18 22:30] rvanderwerf opened #48 "WEB-INF/classes/migirations no longer in war on Grails 3"
I seem to have a regression from the grails 2 plugin. It used to be the migration scripts would be in WEB-INF/classes/migrations. Now they are all just dumped in the WEB-INF/classes dir which complicats things for me.

[2016-01-27 10:14] orkonano commented on #43
I close this issue because I've just tried again and It's worked fine

[2016-01-27 10:14] #43 closed

[2016-02-01 23:51] salex772 commented on #40
Grails 3.0.12. I set dbCreate: none in application.yml

WARN org.hibernate.cfg.SettingsFactory - Unrecognized value for "hibernate.hbm2ddl.auto": none

[2016-02-03 13:47] smakela opened #49 "Connection creation fails with Grails 3.1.0 in GrailsLiquibase -class"
There is not method anymore that accepts only connection as you see:

https://github.com/liquibase/liquibase/blob/master/liquibase-core/src/main/java/liquibase/integration/spring/SpringLiquibase.java

Caused by: java.lang.NoSuchMethodError: liquibase.integration.spring.SpringLiquibase.createDatabase(Ljava/sql/Connection;)Lliquibase/database/Database;
	at org.grails.plugins.databasemigration.liquib

[2016-02-03 13:56] graemerocher commented on #49
Seems like you need to use a version of Liquibase that is compatible with the plugin in that case.

[2016-02-03 13:57] graemerocher commented on #49
Try add

      compile 'org.liquibase:liquibase-core:3.3.2'

To your project dependencies

[2016-02-03 14:09] smakela commented on #49
Yep. That worked of course. That should be in the documetation (maximum luiquibase-core version).

[2016-02-03 14:37] graemerocher commented on #49
Updated https://github.com/grails-plugins/grails-database-migration/commit/b2915891627589b0e664269bb844f13bc86ea22c

[2016-02-03 15:02] smakela commented on #49
That's a wrap!

[2016-02-03 15:02] #49 closed

[2016-02-04 18:49] tomcomer opened #50 "Issue with dataSource.passwordEncryptionCodec"
When using dataSource.passwordEncryptionCodec and running any dbm-* commands fails with a SQLException for failing to log into the database. I have verified that the application connects to the database just fine when doing 'grails run-app'. Also, if removing the dataSource.passwordEncryptionCodec and storing the database password in plain text, the dbm-* commands work just fine. So it is definite

[2016-02-04 19:23] tomcomer commented on #50
Looks like this is related to: https://liquibase.jira.com/browse/CORE-1932
Forcing liquibase 3.3.2 by putting compile 'org.liquibase:liquibase-core:3.3.2' in the build.gradle file does not fix the issue.

[2016-02-04 19:32] tomcomer commented on #50
Trying with the latest version of Liquibase 3.4.2 also does not solve the issue.

The actual exception when trying to connect to my local MySQL database is:

Command execution error: java.sql.SQLException: Access denied for user '<my user>'@'localhost' (using password: YES)

Commenting out dataSource.passwordEncryptionCodec and changing the password to be the unencrypted version fixes this, so it

[2016-02-11 16:28] j4y opened #51 "Support ignoring some tables for dbm-gorm-diff"
I'm using clustered quartz in an app and every time I use `dbm-gorm-diff`, it wants to drop the quartz tables.  This is definitely because there are no domain classes for the quartz tables.

example:
[code]

Perhaps there could be a way to ignore tables?

[2016-02-11 22:46] j4y commented on #51
Looks like this is already supported.  This worked for me in Grails 2.2.5 running plugin version 1.3.8

[code]

[2016-02-11 22:46] #51 closed

[2016-02-12 12:03] tjayr commented on #47
I have the same problem with dbmGormDiff and dbmGenerateGormChangelog with Java 8 and Grails 3.0.10.  I'm assuming its ultimately related to this issue in Liquibase Hibernate
https://github.com/liquibase/liquibase-hibernate/issues/75

This plugin is largely unusable because it - unless anyone knows of a workaround?

[2016-02-12 16:51] KerchumA222 commented on #42
This isn't restricted to Spring-Security. I have a database seed that only runs when the environment is `Environment.DEVELOPMENT`, and it tries to seed on any dbm* command.
This means that when I change a domain that gets seeded I have to go to my `SeederBootStrap.groovy` and comment everything out.

[2016-02-12 20:34] YueZhaoDreams opened #53 "dbm-db-doc is not working with grailsChange"
Hi, I find the `dbm-db-doc` is not working with grailsChange which has sql inside:
[code]

If you run the `dbm-db-doc` you will see the sql gets triggered. This generally will throw an exception which fail the `dbm-db-doc`.

[2016-02-16 07:38] snimavat opened #54 "Can not specify environment for dbm-generate-gorm-changelog"
When i run ```> grails development dbm-generate-gorm-changelog base.groovy ```

It gives error

[code]

[2016-02-24 11:45] HopefulLlama opened #55 "No such property sql within a grailsCondition"
Having something that looks like:

    databaseChangeLog = {

        changeSet(author: "Rick Astley", id: "Not a stranger to love") {

            preConditions {

                grailsCondition {

                    check {

                        sql.<literally anything>
    ...

will fail as it returns the exception
`portal-changelog.groovy : No such property: sql for class: never-gonna-giv

[2016-03-01 12:47] ayaskevich commented on #54
Try:
grails dev dbm-generate-gorm-changelog base.groovy

[2016-03-01 13:26] ayaskevich opened #56 "Unable to set context in gradle command line"
I need to set context in command with gradle like this:
`gradle dbmUpdate --contexts=mycontext`
And get an error that there's no such option
Tried with -P option
`gradle dbmUpdate -Pcontexts=mycontext`
and it worked but changes were made for all contexts, not only for "mycontext"

[2016-03-01 14:22] ayaskevich commented on #56
Need to do this:
`gradle dbmUpdate -Pargs='--contexts=mycontext'`

[2016-03-01 14:22] #56 closed

[2016-03-05 09:38] jkolobok commented on #47
upgrade liquibase-core to 3.4.2

[2016-03-05 14:06] tjayr commented on #47
@jkolobok Nice find, can confirm its working for me.

[2016-03-07 22:49] kappamax commented on #47
Awesome, this solved it for me too. If you're having this problem, swap out the liquibase version to 3.4.2 instead of the 3.3.2 recommended in the docs in your build.gradle
[code]

[2016-03-07 23:09] rvanderwerf commented on #47
Thanks @jkolobok !

[2016-03-07 23:37] rvanderwerf commented on #47
So this fixes the original problem but breaks running migrations. So you have to go back and forth between the core older version and this newer one :( I suppose we need to open a bug with the liquibase core people?

[2016-03-09 02:32] jkolobok commented on #47
Yeah.
I have this issue too. the only workaround I found is to generate and run using different version

[2016-03-09 15:53] tjayr commented on #47
I've created a PR to try an address this once and for all, by including the newer version of liquibase-core in the database-migration plug-in and updating the code where the liquibase API has changed.  so far I've tested dbmUpdate and dbmGormDiff on my own projects and its working fine, but it would be useful if others could build the PR and provide feedback.

The project itself seems to be in a b

[2016-03-15 02:22] KerchumA222 commented on #42
Will this ever be fixed?

[2016-03-16 18:22] rvanderwerf commented on #47
Thanks @tjayr !

[2016-03-17 14:58] rvanderwerf commented on #47
I had to revert the PR because too many tests are failing. They are all passing before the PR. @tjayr any word on fixing those? I can give it a shot, it seems the errors are related to not cleaning the database up between tests (getting table 'book' already exists) among other issues. I can take a look at your branch and see if I can fix them.

[2016-03-17 16:49] tjayr commented on #47
@rvanderwerf  Sure thats fair enough. A second pair of eyes certainly wouldn't hurt.

I don't think the issue is the cleanup between tests, but rather it seems that its executing a 'change' blocks in a grailsChange multiple times. It doesn't seem to be happening with validate, init etc.

`
databaseChangeLog = {
    changeSet(author: "John Smith", id: "1") {
        grailsChange {
            init

[2016-03-17 20:33] tjayr commented on #47
The change block was being executed multiple times. Latest PR submitted adds a guard in to prevent this from happening and I've updated the the tests accordingly.

[2016-03-17 21:26] #47 closed

[2016-03-18 15:01] Itaqua opened #59 "Cleaning a lot of records before adding a constraint"
I have a changeset that is clearing a lot of records (2.5M) before adding a constraint. the problem is that the connection times out, could this be a problem with the configuration of the pool? Im commiting every update.

[code]

[code]

numbatch is the number of iterations calculated between the number of rows and the limit of the batch

[2016-03-18 17:58] Itaqua commented on #59
Finally I’ve it working, I had to tweak the datasource configuration file and change the removeAbandonedTimeout parameter to 4 minutes

     removeAbandonedTimeout=(4*60)

It makes sense since the pool checks that that connection is timing out without committing to the DB, and then the pool proceeds to kill the connection (seems that all the migrations acts as a big transaction, not sure but I hav

[2016-03-18 17:59] #59 closed

[2016-03-21 06:51] ShurikAg opened #60 "The plugin is not generating the diff as expected."
I have an existing app in which I used to use previous version of this plugin.
I needed to upgrade together with grails upgrade and I started to have bunch of problems, so I decided to start migration history from scratch. However, before I started dealing with it, I already made some changes to existing domain classes and added one new.
My plan was to generate a changelog based on my current prod

[2016-03-29 13:22] bobbywarner commented on #39
@olliefreeman Not sure exactly when this changed, but it's actually called `grails.plugin.databasemigration.excludeObjects` now.  You can pass in a list of strings to `excludeObjects` just like you used to be able to for `ignoredObjects`.

[2016-03-29 13:22] #39 closed

[2016-04-02 17:13] vahurh opened #62 ""Another unnamed CacheManager" - issue after dbm-update"
After running prod-dbm-update on my Grails 3.1.4 application with 2.0.0.RC1 version of the plugin, I started getting this error when deploying WAR to AWS:

`Caused by: org.hibernate.cache.CacheException: net.sf.ehcache.CacheException: Another unnamed CacheManager already exists in the same VM. Please provide unique names for each CacheManager in the config or do one of following:
1. Use one of the

[2016-04-02 17:34] sergiodelamoshoptimix commented on #62
I've been having the same issues in the past days while deploying a war file to production. I installed the spring security core plugin and spring security rest plugin and began to get a miriad of errors when deploying the war.  Everything worked fine in dev. I had a multiproject build with several grails projects with the web-plugin profile  and a grails app with the web profile.  I was having th

[2016-04-02 17:37] sergiodelamoshoptimix commented on #62
I was deploying to a tomcat installed in an AWS EC2 through elastic beanstalk but I have been able to reproduce it deploying the war file in a tomcat in my laptop.

[2016-04-02 23:45] vahurh commented on #62
It's reassuring to read that others are having similar problems!

Mine is a single project, built with the new AngularJS profile. And I'm also using the Spring Security + Spring Security Rest plugin. And deploying to Elastic Beanstalk. Everything works fine in dev.

Btw once I set liquibase.enabled to false, I started getting this:
`
Caused by: org.grails.core.exceptions.GrailsConfigurationExcepti

[2016-04-04 05:07] sdelamo commented on #62
@vahurh please note there is another version of the plugin 2.0.0.RC4

[2016-04-05 17:40] vahurh commented on #62
Hey - tried the same thing with version 2.0.0.RC4 - still the exact same issue. When using EhCacheRegionFactory, I get the "Another unnamed CacheManager already exists"-error and SingletonEhCacheRegionFactory seems to fix the CacheManager issue, but still triggers the "Cannot find changelog location: class path resource [db/changelog/db.changelog-master.yaml]"-issue.

Is there a config change I'm

[2016-04-13 19:58] vahurh commented on #62
This doesn't seem to be an issue with this plugin. Haven't yet figured out the solution, but the same problem arises with an app that hasn't done any migrations on a new EB instance.

[2016-04-16 09:23] vahurh commented on #62
(Just in case anyone else encounters this error and ends up here). For me this was an issue with the AWS SDK plugin for Grails 3 ( https://github.com/agorapulse/grails-aws-sdk/tree/grails3 ). Reverting all my changes and just replacing the plugin with the AWS SDK for Java through Gradle fixed the issue. Sorry for spamming!

[2016-04-16 09:23] #62 closed

[2016-04-21 15:10] bassmartin opened #64 "Hibernate 5 support"
The plugin is not compatible with Hibernate 5. There is an error thrown :
`:dbmGenerateGormChangelogCommand execution error: org.hibernate.cfg.Configuration.getTableMappings()Ljava/util/Iterator;`

[2016-04-22 19:12] bassmartin opened #65 "dbCreate="" is not supported as a dataSource configuration when doing a diff"
This is preventing any diff to be generated as we need to use 'create','create-drop','update' or 'validate' when using application.yml

on 2.0.0-RC4

`Command execution error: liquibase.command.CommandExecutionException: java.lang.NullPointerException`

[2016-04-26 11:02] edwardotis opened #66 "not a bug"
Accidentally submitted. Don't know how to delete this issue.

[2016-04-26 11:09] #66 closed

[2016-04-26 12:20] edwardotis opened #67 "dbm-gorm-diff not picking up addition of cascade delete"
grails 2.5.4
        compile "org.grails.plugins:spring-security-core:2.0.0"
        runtime ":database-migration:1.4.1"
        compile ":postgresql-extensions:4.6.1"

postgres 9.4
ubuntu 14.04
java 8.77

Given the default User and UserRole created by spring security quickstart.
Given the inital user_role table generated by dbm-gorm-diff  is:
CREATE TABLE user_role
(
  user_id bigint NOT NULL,

[2016-04-26 16:33] davydotcom commented on #49
tried this on 3.1.5 still getting the error

[2016-04-26 16:43] davydotcom commented on #49
Caused by: java.lang.NoSuchMethodError: liquibase.integration.spring.SpringLiquibase.createDatabase(Ljava/sql/Connection;Lliquibase/resource/ResourceAccessor;)Lliquibase/database/Database;

I specified 3.3.2 and confirmed the dependencies tree on the app running database migrations plugin  2.0.0.RC4

[2016-04-28 14:13] #65 closed

[2016-04-28 15:28] bassmartin opened #68 "Mapping `tablePerHierarchy` causes a NPE when executing `dbm-gorm-diff`"
Project to reproduce : https://github.com/bassmartin/grails-database-migration-tablePerHierarchy-issue

Checkout the project and execute a `dbm-gorm-diff` it will fail with a NPE.

The project has one Parent domain class and one Child domain class only.

[2016-04-28 16:23] markoschnecke opened #69 "dbm-gorm-diff creates repeatedly defaultValueBoolean"
dbm-gorm-diff creates repeatedly changesets for default values of boolean variables regardless of whether that change was already executed.
Example Domain:

[code]
With only that I executed `dbm-generate-gorm-changelog changelog.groovy` with the following result:

[code]
To apply that ChangeLog I started the app once `run-app` and then created a diff with `dbm-gorm-diff diff.groovy`. The diff incl

[2016-04-28 16:31] burtbeckwith commented on #69
I just noticed the same today in a project after updating to RC4 from RC1.

[2016-04-29 14:40] bassmartin opened #70 "dbm-gorm-diff and dbm-generate-gorm-changelog do not behave the same"
`dbm-gorm-diff` will use my custom Dialect and generate a changeset with my org.joda.time.DateTime columns to `timestamptz`

`dbm-generate-gorm-changelog` will write `timestamp`

I tried something else : writing `lol` when a Boolean type is used. Both commands will write a changes with `lol`.

So there is something weird with `timestamp`

ALSO

`dbm-gorm-diff` will generate a changeset with `int4`

[2016-04-29 14:57] bassmartin commented on #70
I just did a `dbm-gorm-diff` to a groovy file and the behaviour is the same as as `dbm-generate-gorm-changelog`. So it seems like the data types are changed when writing to the groovy file...

[2016-04-29 15:02] bassmartin commented on #70
The issue is not about those command, I'll close this one and open another one.

[2016-04-29 15:02] #70 closed

[2016-04-29 15:09] bassmartin opened #71 "createTable/column is not behaving the same as addColumn"
When there a table creation written by the plugin `createTable/column` :
java.lang.Integer = type: "INT"
org.joda.time.LocalDateTime = type: "timestamp" (my dialect is not taken into account, it should be timestamptz)

When there is a column added written by the plugin `addColumn` :
java.lang.Integer = type: "int4"
org.joda.time.LocalDateTime = type: "timestamptz"

The schema is not consistent.

[2016-05-02 06:02] davidbairdala commented on #69
I have this issue also. The problem also manifests with columns mapped explicity to 'text' as well.
I'm using grails 2.5.4, Postgres 9.4. My workflow now is to run dbm-gorm-diff to a new file, manually peruse the file and copy out the entries that I know I have changed, skipping over every boolean and text column, and pasting those changelogs to my master changelog.groovy.

[2016-05-18 10:01] nilskuhn commented on #69
Same error for me :(
Would be great if somebody would fix this!

[2016-05-19 14:43] immutability opened #72 "Possible to switch liquibase version?"
Hello! I'm just starting with the dbm plugin and ran into an issue with PostgreSQL timestamp columns. It looks like the plugin version 1.4.1 is using Liquibase 2.0.5 and the issue (see liquibase jira CORE-877 and CORE-1906) was supposedly fixed in Liquibase 3.2.0. Is it possible to somehow (easily) switch to a newer liquibase version with dbm 1.4.1? Or only with dbm 2.0.0 (if that's the case, will

[2016-05-19 18:17] mugdho commented on #49
2.0.0.RC4 is a further upgrade on Liquibase. So 3.3.2 doesnt work. Instead add liquibase core 3.4.1 and your code should start working. We should probably update the plugin with the right liquibase version.

[2016-05-19 19:08] jesperronn commented on #64
Could be nice with Hibernate 5 support. @bassmartin can you fix, or do you have any idea who can fix it?

[2016-05-19 19:21] jesperronn opened #73 "Tests to verify this plugin works correctly when updating dependencies."
I have worked on a handful of projects using this plugin. I would like this plugin to have tests, that can verify behaviour, especially when dependencies should be updated.

Some grails developers tend to be reluctant to update dependencies, probably because they burnt their fingers previously.

By having tests, it will be easy to spot which dependencies will break.

And having continuous integrat

[2016-05-31 12:14] robertoschwald commented on #41
Duplicate of #47 ?

Try 2.0.0.RC4

[2016-06-02 14:42] robertoschwald opened #74 "No migrations are created for mapping defined indexes"
When I define indexes in domain mappings, dbm-gorm-diff does not create the migrations.

Environment:

- Grails 3.0.16
- db-migration 2.0.0.RC4
- Oracle Java SDK 1.8.0_65
- OSX
- H2, MySQL or PostgreSQL datasource (does not matter, same problem)

Example:
[code]

For the added apitoken_Idx index, dbm-gorm-diff states:
[code]

Therefore I created the index migrations manually and applied them:
[cod

[2016-06-02 15:12] robertoschwald commented on #74
Sample application see https://github.com/robertoschwald/grails-database-migration-issue74-example

[2016-06-03 12:59] bwollmer opened #75 "Grailschanges not working with GORM and Java 8"
We just updated our application from grails 2.5 to 3.1. We also use and upgraded the Grails Database Migration Plugin to version 2.0.0.RC4. We got everything working so far. But now we wanted to use Java 8 instead of Java 7 and this leads to an unexpected behavior within grailschanges, we can't run them anymore if they access domain objects. The following error appears: _​Either class [<ClassPath>

[2016-06-04 08:28] salex772 commented on #75
+1

[2016-06-04 08:31] salex772 commented on #64
If this plugin do not support Hibernate 5 it's sadly.

[2016-06-05 19:30] rkimaoui commented on #75
+1

[2016-06-06 08:31] robertoschwald commented on #74
When using Grails 2.4.4 with dbm plugin 1.4.0 using the same sample domain class, the indexes are created correctly:
[code]

[2016-06-06 09:29] robertoschwald commented on #74
Liquibase seems to detect the apitoken_Idx index correctly. diffResult in GroovyDiffToChangeLogCommand contains the index, but the serializer does not seem to generate the changelog entry:

[code]

So seems to be a Liquibase 3.5 problem. See https://github.com/liquibase/liquibase-hibernate/issues/100

[2016-06-06 14:04] robertoschwald commented on #74
As stated in the liquibase issue I referenced, HibernateDatabase is blacklisted in some migration types of newer Liquibase versions. Therefore, normal indexes are currently not supported when using plugin version 2.0.0.x. I contacted the author.

[2016-06-08 07:26] nilskuhn commented on #75
Could someone please at least answer the question, whether it's a bug or a feature?
Thanks.

[2016-06-08 08:33] salex772 commented on #75
Probably nobody knows, DB migration does not seem to be mantained. I found to that migrations itself written in groovy DSL works, but GORM does not. Changes (diffs) are calculated are not correct and non latin symbols in SQL also not supported.

[2016-06-08 09:40] graemerocher commented on #75
@salex772 @nilskuhn we plan to investigate issues related to the database migration plugin shortly, at which point we will provide solutions to this issue

[2016-06-08 10:53] nilskuhn commented on #75
OK, so you plan to enable usage of GORM in grails changesets with grails 3.1 and java 8?
That would be great!

[2016-06-08 10:55] graemerocher commented on #75
I didn't say that, I simply said we plan to investigate the issues and see what is possible

[2016-06-08 11:02] salex772 commented on #75
And non-latin characters please.. If GORM do not work how to insert critical data? There is no grails-db-seed plugin, rewriting Bootstrap.groovy a little hard, because we need to control in which mode application is, what has been added, what not... So I use the migration plugin and plain SQL to feed new data to DB. But I cannot insert russian letters there... It makes my job hard.

[2016-06-08 11:08] nilskuhn commented on #75
@graemerocher Thanks for clarification.

[2016-06-08 13:17] mr-wunderlich opened #77 "Changing data types is ignored by dbm-gorm-diff"
I have a Domain class Example:

[code]

and create the initial migration. That results in:

[code]

I now change the class by adding a further member variable and adding a further line to the mapping resulting in the following:

[code]

Creating a migration now will completely ignore `thisIsAString`:

[code]

Is that the expected behavior? I would have expected that it will alter the column from V

[2016-06-12 13:33] snimavat commented on #40
This issue comes up when you dont have sourceSets defined in your build.gradle

put this in your build.gradle, clean, compile, and try dvm-update again

[code]

[2016-06-12 13:40] snimavat opened #78 "dbm-update - BootStrap.groovy should not run before migration"
So, i am using grails 3.1.6

- Created a fresh changelog.groovy from Domains using dbm-generate-gorm-changelog
- Datasource is setup, all good, dbUpdate: none
- A blank my sql db is created
- My BootStrap.groovy uses Domain classes, and creates default users if does not exist.
- I run dbm-update - but it fails - because BootStrap.groovy is executed before migration, so, the tables still does not e

[2016-06-23 15:14] bassmartin commented on #75
I seem to be able to run `grailsChange` when executing the `dbm-update` command but it does not work when using the `updateOnStart=true` configuration parameter.

[2016-06-23 16:30] Schlogen commented on #68
Once https://github.com/grails/grails-data-mapping/pull/737 is merged and a new version of the hibernate4 gorm is released, that can be included in the next release of this plugin which will resolve this issue.

[2016-06-24 13:02] Schlogen commented on #68
@bassmartin Can you verify `hibernate4:5.0.9.BUILD-SNAPSHOT` resolves this problem for you?

[2016-06-24 14:54] bassmartin commented on #68
I'll check next week. Today is Holiday here ;-)

--
Sébastien Martin

[2016-06-27 05:25] snimavat commented on #78
@bobbywarner @jeffbrown is this an issue ? or you think this is a valid behaviour ?

[2016-06-27 11:16] zyro23 commented on #78
i think the issue is that currently, bootstrap is run for `ApplicationCommand`s.
while the behavior may be valid in general, for the case of database-migration i agree that it is completely undesired.
my _really_ ugly workaround in bootstrap to get it working somehow looks like this:
[code]

[2016-06-28 13:49] Schlogen commented on #68
Fixed by https://github.com/grails/grails-data-mapping/commit/57cece76bcb065d1340e36328f0baa21dd5289d9

[2016-06-28 13:49] #68 closed

[2016-07-01 19:10] Schlogen commented on #40
@TechFanDan Can you confirm you have the settings in `build.gradle` that @snimavat included above?

[2016-07-01 19:17] Schlogen commented on #41
@benlucchesi Can you try RC4 to see if that resolves your problem?

[2016-07-01 19:20] Schlogen commented on #42
I'm going to close this and create a more descriptive issue, which is a feature request in grails-core to allow commands to skip the Bootstrap process

[2016-07-01 19:20] #42 closed

[2016-07-01 19:22] Schlogen commented on #42
Relevant issue https://github.com/grails/grails-core/issues/10022

[2016-07-01 19:28] Schlogen commented on #64
There is no `liquibase-hibernate5` module available yet https://github.com/liquibase/liquibase-hibernate/issues/96

[2016-07-01 19:42] Schlogen commented on #45
The issue is because the default `dbCreate` setting is `update`, which was creating your table before the command executed. That caused the command to not find any changes because they were already made in the database.

Set `dbCreate: none` explicity to prevent that behavior

[2016-07-01 19:42] #45 closed

[2016-07-01 21:46] Schlogen commented on #69
@burtbeckwith The reason this is happening is because the value in MySQL for example is "1" and the value in GORM is "true". I'm not sure the best way to solve this, but that is the cause.

[2016-07-02 13:47] zyro23 commented on #42
i guess #78 can be closed then as well?

[2016-07-02 15:10] Schlogen commented on #78
Duplicate of https://github.com/grails-plugins/grails-database-migration/issues/42

[2016-07-02 15:10] #78 closed

[2016-07-02 15:12] Schlogen commented on #72
@immutability There aren't any plans to update the Grails 2 version of this plugin. dbm 2.x (Grails 3 only) can be updated to support the latest version of liquibase.

[2016-07-02 15:14] Schlogen commented on #71
@bassmartin Can you provide a sample project?

[2016-07-02 15:16] Schlogen commented on #73
@jesperronn This plugin does have tests. Can you be more specific about what you're asking?

[2016-07-02 15:24] Schlogen commented on #60
@ShurikAg Most likely your `dbCreate` setting was set to `update`, either directly or by not setting the setting at all. If you find that is not the cause, feel free to reopen with an example project.

[2016-07-02 15:24] #60 closed

[2016-07-02 15:43] Schlogen commented on #55
It is `grailsPrecondition`, not `grailsCondition`

[2016-07-02 15:43] #55 closed

[2016-07-02 15:50] Schlogen commented on #54
@snimavat `grails dev ...` is the syntax

[2016-07-02 15:50] #54 closed

[2016-07-02 19:45] immutability commented on #72
Thanks, that makes sense. We just didn't have time/resources to migrate to Grails 3 yet. For now I added a sql changeset to alter the timestamps on PSQL as a workaround.

[2016-07-03 07:22] zyro23 commented on #64
did you see the linked linked repo there (https://github.com/jean-merelis/liquibase-hibernate5)? seems like @jean-merelis is working on `liquibase-hibernate5` it but it says

which i am afraid might not be enough for the grails/gorm/dbm integration.. so maybe some collaboration over there could steer it in the right direction?

[2016-07-03 19:22] Schlogen commented on #64
@zyro23 I did see that. Perhaps it will be necessary for us to implement that. It doesn't seem like it would be incredibly difficult.

[2016-07-03 19:27] Schlogen commented on #50
@tomcomer What version of Grails / dbm?

[2016-07-03 19:29] Schlogen commented on #50
Nevermind, looks like this was resolved here: https://github.com/grails-plugins/grails-database-migration/pull/52/files

[2016-07-03 19:29] #50 closed

[2016-07-04 11:43] jesperronn commented on #73
@Schlogen thanks! I now realize that there is a Travis CI build already set up. And I also see that the build is running some tests. (5 integration tests, as far as I could see)

What I meant was to set up testing of this plugin with different Grails versions and Java versions. Travis supports this, and I think it could benefit users to know that their specific Grails version is supported.

[2016-07-04 11:43] #73 closed

[2016-07-12 12:52] Schlogen opened #79 "Use new feature of 3.1.x to allow skipping of Bootstrap execution"
https://github.com/grails/grails-core/pull/10042

[2016-07-14 16:17] Schlogen commented on #75
@bassmartin That is the only I could reproduce locally. Running `dbm-update` worked with GORM changes, but `updateOnStart` did not. I will push a fix

[2016-07-15 13:50] Schlogen commented on #69
To the best of my ability, I believe this is a liquibase issue. I filed a ticket in their Jira:

https://liquibase.jira.com/browse/CORE-2831

[2016-07-15 15:39] vitorbertazoli commented on #38
I'm having the same issue with Grails 3.2.0.M1 and database-migrations 2.0.0.RC4
here's a link to an example
https://github.com/vitorbertazoli/GrailsTest

[2016-07-15 15:46] Schlogen commented on #48
@rvanderwerf If you can supply some Gradle config to make this happen, I will try to include it in the plugin

[2016-07-15 15:49] Schlogen commented on #38
The workaround is to wrap your code with `Domain.withNewSession { }`

[2016-07-15 19:48] bassmartin commented on #71
@Schlogen see https://github.com/bassmartin/sample_grails_dbm

[2016-07-15 19:51] bassmartin commented on #75
@Schlogen is this only an issue with Java 8? I did not try this on Java 7.

[2016-07-15 21:31] Schlogen commented on #75
I'm only using Java 8 as well. I can run `grailsChange` if I wrap it with `withNewSession`. The only issue I've found is what you pointed out. I have a fix coming that will work for `updateOnStart` and normal scripts and will not require `withNewSession` any longer.

[2016-07-18 07:00] nilskuhn commented on #75
For development of [OpenSpeedMonitor](https://github.com/iteratec/OpenSpeedMonitor) gorm in grailsChanges worked with grails 3.1 and Java 7. We just got problems when switched to Java 8.
But we have already rewritten all of our grails changesets using gorm before to use hql/sql instead. Nevertheless it would be great to have that possibility again.

[2016-07-18 13:37] Schlogen commented on #38
Fixed in the current snapshot by https://github.com/grails-plugins/grails-database-migration/commit/d737ad60d9d40f50f0c1f9cfdcbe9e134e70c8ef

[2016-07-18 13:37] #38 closed

[2016-07-18 13:37] Schlogen commented on #75
Fixed in the current snapshot by https://github.com/grails-plugins/grails-database-migration/commit/d737ad60d9d40f50f0c1f9cfdcbe9e134e70c8ef

[2016-07-18 13:37] #75 closed

[2016-07-18 13:38] Schlogen commented on #79
Fixed in the current snapshot by https://github.com/grails-plugins/grails-database-migration/commit/d737ad60d9d40f50f0c1f9cfdcbe9e134e70c8ef

[2016-07-18 13:38] #79 closed

[2016-07-18 13:39] Schlogen commented on #40
Closing this. Reopen if the issue persists

[2016-07-18 13:39] #40 closed

[2016-07-18 14:39] Schlogen commented on #71
Essentially the issue is here: https://github.com/liquibase/liquibase/blob/91a4e47bfe278e2ac17d1a8cca932554547fc5e7/liquibase-core/src/main/java/liquibase/datatype/core/DateTimeType.java

The database is `GormDatabase` so it doesn't match any that are checked. The `originalDefinition` is `timestamptz` and the `getName()` resolves to `timestamp`.

[2016-07-18 15:34] Schlogen commented on #77
The issue exists in liquibase-hibernate: https://github.com/liquibase/liquibase-hibernate/issues/48

[2016-07-18 15:37] Schlogen commented on #41
Closing this as I believe RC4 will resolve the issue. Reopen if that is not the case

[2016-07-18 15:37] #41 closed

[2016-07-18 16:58] Schlogen commented on #71
The root of this is how columns are handled when a column is missing vs when a table is missing:

How columns are handled when a table is missing: https://github.com/liquibase/liquibase/blob/0c2c0fea18abeda20ab9b9921b11bb3dfaad7d71/liquibase-core/src/main/java/liquibase/diff/output/changelog/core/MissingTableChangeGenerator.java#L70

How columns are handled when a column is missing:
https://github

[2016-07-18 20:28] nvoxland commented on #71
The MissingColumnChangeGenerator should use the same logic as MissingTableChangeGenerator

[2016-07-29 07:57] animator013 commented on #75
Hello.

At first i would like to thank you for your work on grails3 plugin. This issue was also a problem for me, so I cloned current master branch to fix it, as it is said here that it is fixed.

I run into another error now:
[code]

Can you please help me with this ? Am I doing something wrong ?

This error shows itself after starting the application. I have updateOnStart set to `true`.

Grails

[2016-07-29 15:02] Schlogen commented on #75
@animator013 Attach an example project and I'll look when I can

[2016-08-01 20:26] ryanduffyegov opened #80 "Unique constraint causes NullPointerException"
I am running dbm-gorm-diff and get a NullPointerException every time I add a property to a domain class with unique: true.

I have tried to exclude the column, but that doesn't appear to be working either.

I am using org.grails.plugins:database-migration:2.0.0.RC4

`Command execution error: liquibase.command.CommandExecutionException: java.lang.NullPointerException
:dbmGormDiff FAILED

* Exceptio

[2016-08-01 20:30] KerchumA222 opened #81 "Incompatible with Grails 3.2.M2"
When executing `dbmGenerateGormChangelog` I get `Command execution error: Bean named 'sessionFactory' must be of type [org.springframework.beans.factory.FactoryBean], but was actually of type [org.hibernate.internal.SessionFactoryImpl]`

Grails: 3.2.0.M2
database-migration: 2.0.0.RC4 and 2.0.0.BUILD-SNAPSHOT
Sample project: https://github.com/KerchumA222/database-migration-issue

[2016-08-04 18:05] snimavat commented on #79
@Schlogen is this available now ?

[2016-08-04 18:08] snimavat commented on #79
Perfect @Schlogen tried with 2.0.0.BUILD-SNAPSHOT - and it works..

[2016-08-04 18:21] snimavat opened #82 "dbm-generate-gorm-changelog does not automatically create indexs"
So if i have specified indexes in my gorm mappings as explained [here](http://docs.grails.org/latest/guide/GORM.html#databaseIndices)

And generate dbm-generate-gorm-changelog - it does not automatically create indexes.

[2016-08-11 21:56] ryanduffyegov commented on #80
Figured out that if you have a lazy object load in the bootstrap process that hit your object that you are making changes to, it will throw this error.

[2016-08-11 21:56] #80 closed

[2016-08-16 15:39] thomasoreilly opened #83 "Can't ignore/exclude domain classs"
Hi,
Seems to be a problem when trying to use "grails.plugin.databasemigration.ignoredObjects" property to ignore some domain classes.  Nothing happens, as in domain classes aren't being ignored.

I also tried to use "grails.plugin.databasemigration.excludeObjects" as the source code seems to be looking out for this property. I get the following when using the above.
Command execution error: liquib

[2016-08-22 10:57] meltzow opened #84 "documentation for version 2"
this is only für version 1 : http://grails-plugins.github.io/grails-database-migration/1.4.0/

[2016-08-24 10:01] meltzow opened #85 "grails3 plugin with domain classes - crash"
hi,

we have a grails3 app with local plugins (domain classes included). Is there any working example for it?
for example dbm-gorm-diff isn't working. Grails want to call dbm-gorm-diff inside the plugin directory. There it crashes with: java.lang.ClassNotFoundException: org.hibernate.cfg.Configuration
if we insert hibernate as dependency, we got :
org.springframework.beans.factory.BeanCreationExce

[2016-08-26 07:14] trettstadtos opened #86 "NullPointerException in dbm-gorm-diff after creating new domain classes for Oracle 11g"
Hi,

I am encountering an NPE when running dbm-gorm-diff and using Oracle 11g as a database. It seems to work with H2 and also works in Oracle if I just change something in an existing domain class. But the error occurs after creating a new domain class.

This is the output of the grails command:

[code]

To help reproduce the problem I created an example project: https://github.com/trettstadtos/d

[2016-09-10 09:16] robertoschwald commented on #82
duplicate of #74 ?

[2016-09-13 14:47] robertoschwald commented on #84
This  http://grails-plugins.github.io/grails-database-migration/2.0.0.RC4/ is for 2.0.0, but is still not valid for some configurations. Will create issues for it.

[2016-09-13 14:53] robertoschwald opened #87 "Documentation errors for 2.0.0.x"
1. changelogFileName > grails.plugin.databasemigration.updateOnStartFileName

http://grails-plugins.github.io/grails-database-migration/2.0.0.RC4/guide/configuration.html

states wrongly on several places:
[code]

Correct:
[code]
"changelogFileName" is gone.

2. updateOnStartFileNames:
This seems to be gone. Only updateOnStartFileName is there.

[2016-09-15 12:30] Kipriz commented on #81
It looks to be a serious reason for this: Liquibase Hibernate extension is not compatible with Hibernate 5 yet. See this issue https://github.com/liquibase/liquibase-hibernate/issues/96
However, it should be done soon.

[2016-09-16 20:29] mjcmatrix commented on #83
Me too.

[2016-09-19 08:33] meltzow commented on #84
looks good. thx. So I will close the issue

[2016-09-19 08:33] #84 closed

[2016-09-19 09:34] meltzow opened #88 "general plugin support"
Hi,
Assumption: you have a core plugin (used in multiple apps) and the grails-apps.
If you change a domain class in core, all apps need a separate migration. why it not possible to link the changelog-core.groovy (in core plugin) in all grails-apps. now we can create migrations just for the core domain classes, which is automatically done in all apps?

[2016-09-25 18:39] littleiffel commented on #81
Hi, I tried Grails 3.2.0.RC2 with the DB Migration plugin with Hibernate4 and Hibernate5, for both cases I receive the same error as above. I have tried to reconfigure multiple times, but no luck. As test I retried with grails 3.1.11 and everything worked fine to generate the initial changelog from GORM.

So eventhough there seems to be an issue with Hibernate5 there is also a problem with Hiberna

[2016-09-26 14:10] animator013 commented on #64
Seems like support for hibernate 5 is getting somewhere on liquibase side. On master branch of https://github.com/liquibase/liquibase-hibernate is support for hibernate 5 (5.0.10).

[2016-10-06 19:41] brunohoff opened #89 "changelog.xml does not exist when lib is shared in Tomcat"
When the application is deployed with the dependencies JAR files in the /lib folder in Tomcat 7 it can't find the changelog.xml file.

[2016-10-07 18:18] j4y opened #90 "error loading migrations from 1.x with comment() sections"
I'm working on a grails project that is upgrading from grails 2.x to 3.  It's failing with migrations that have the comment section like this:

[code]

error running 2.0.0RC4 with grails 3.0.17:

[code]

If I remove all of the `comment()` lines from the 1.x migrations it works as expected.  I thought modifying previous migrations was a no-no, but it looks like it doesn't complain.  The 1.x version

[2016-10-07 20:40] mjcmatrix commented on #80
I get this too. An NPE is still a bug. I don't think I load any entities in bootstrap as I have all bootstrap code disabled for dbm operations.

As a workaround I've had to remove all unique constraints from my app until this has been fixed.

Can we reopen this?

[2016-10-18 15:25] ajdevries commented on #81
I tried to update the plugin to grails 3.2.x but having issues with not an actual https://github.com/liquibase/liquibase-hibernate hibernate5 release. And after building this project myself the API of the [HibernateDatabase](https://github.com/liquibase/liquibase-hibernate/blob/master/src/main/java/liquibase/ext/hibernate/database/HibernateDatabase.java) class is changed.

Not enough experienced t

[2016-10-18 15:27] graemerocher commented on #81
First we need a release of `liquibase-hibernate` to come out that is compatible with at least Hibernate 5, then we can deal with the GORM 6 differences

[2016-10-18 15:31] ajdevries commented on #81
Yeah.. The master branch is compatible. But not released to a maven repo.

[2016-10-18 15:34] ajdevries commented on #81
He's waiting for more people to test.
- https://github.com/liquibase/liquibase-hibernate/issues/96

I tried to update this plugin but not sure about how to handle the API changes

[2016-10-19 16:11] robertoschwald commented on #83
This one worked for me:

[code]

[2016-10-26 08:18] kuceram commented on #81
liquibase-hibernate has been updated and released to maven https://github.com/liquibase/liquibase-hibernate/issues/96...

[2016-10-26 15:52] animator013 commented on #64
Hibernate 5 support from liquibase has been pushed to maven.

[2016-10-27 19:01] jameskleeh commented on #81
@kuceram @ajdevries @littleiffel @Kipriz @KerchumA222 If you all could update your plugin to 3.0.0.BUILD-SNAPSHOT and give it a try, I would appreciate it! I've tested that command with Grails 3.2.1 and Hibernate 5 with success.

[2016-10-27 19:04] jameskleeh commented on #69
@markoschnecke Looks like that bug was fixed in liquibase 3.5.2. That version of liquibase is in version `3.0.0.BUILD-SNAPSHOT` of the plugin. Can you give it a try? It is for Hibernate 5 only.

[2016-10-27 19:06] jameskleeh commented on #64
@animator013 @zyro23 @alex-shamshurin @bassmartin @jesperronn If all of you can try out version `3.0.0.BUILD-SNAPSHOT` of the plugin, I have integrated liquibase-hibernate5.

[2016-10-27 19:09] jameskleeh commented on #74
@robertoschwald This should be fixed in version `3.0.0.BUILD-SNAPSHOT` of the plugin that supports hibernate 5. Can you confirm that?

[2016-10-27 19:25] jameskleeh commented on #86
@trettstadtos Can you test this with version `2.0.0.BUILD-SNAPSHOT` of the plugin?

[2016-10-27 19:26] jameskleeh commented on #85
@meltzow Can you please confirm this is still occuring with version `2.0.0.BUILD-SNAPSHOT` of the plugin, and if so, attach an example project?

[2016-10-27 19:27] jameskleeh commented on #83
@thomasoreilly Can you include an example project?

[2016-10-27 19:28] jameskleeh commented on #82
Duplicate

[2016-10-27 19:28] #82 closed

[2016-10-27 19:30] jameskleeh commented on #88
@meltzow Are you asking for a new feature where changelogs that exist in plugins would be included when migrations are ran in an application?

[2016-10-27 19:30] jameskleeh commented on #89
@brunohoff Can you provide me some steps to reproduce and an example project?

[2016-10-28 02:51] erichelgeson commented on #64
Tested the snapshot release and it looks good! Just observations -
* I had an old version of liqudbase in my build.gradle due to this https://github.com/grails-plugins/grails-database-migration/commit/b2915891627589b0e664269bb844f13bc86ea22c
* `INFO 10/27/16 9:26 PM: liquibase: Can not use class org.grails.plugins.databasemigration.liquibase.GormDatabase as a Liquibase service because it does not

[2016-10-28 07:05] littleiffel commented on #81
Thanks I wil try it today

[2016-10-28 10:33] kuceram commented on #81
@jameskleeh I've tested creating migration script `dbm-gorm-diff` as well as running the application with migrations. Everything works fine, however I faced same non-breaking issues reported [here](https://github.com/grails-plugins/grails-database-migration/issues/64#issuecomment-256739113):

- I also see `INFO 10/28/16 11:37 AM: liquibase: Can not use class org.grails.plugins.databasemigration.li

[2016-10-28 14:04] jameskleeh commented on #48
@rvanderwerf You can reopen if you're still interested in this

[2016-10-28 14:04] #48 closed

[2016-10-28 14:18] jameskleeh commented on #69
This particular issue is fixed, however because of spring boot, you have to define the dependency of liquibase-core:

`compile 'org.liquibase:liquibase-core:3.5.3'`

In addition, it now wants to drop and re-add the index every time :trollface:

[2016-10-28 14:18] #69 closed

[2016-10-28 14:53] jameskleeh commented on #74
I verified the index diff is now created correctly:

[code]

[2016-10-28 14:53] #74 closed

[2016-10-28 14:59] #81 closed

[2016-10-28 15:03] jameskleeh commented on #87
@robertoschwald `changelogFileName` is used for example to determine which file to run when executing `dbmUpdate`.

[2016-10-28 15:05] jameskleeh commented on #87
What is incorrect is `updateOnStartFileNames`. It should only be `updateOnStartFileName`

[2016-10-28 15:07] jameskleeh commented on #87
Fixed by https://github.com/grails-plugins/grails-database-migration/commit/728a98a67d2611cade1d01657d7577ef699616c3

[2016-10-28 15:07] #87 closed

[2016-10-28 15:10] jameskleeh commented on #90
I can't reproduce this. Create a new issue if this is still happening with `2.0.0.BUILD-SNAPSHOT`

[2016-10-28 15:10] #90 closed

[2016-10-28 15:33] jameskleeh commented on #83
Added to docs `includeObjects` and `excludeObjects`

[2016-10-28 15:33] #83 closed

[2016-10-28 15:37] jameskleeh commented on #64
Closing this due to my testing it is generally working. Create new issues for any problems found

[2016-10-28 15:37] #64 closed

[2016-10-28 15:38] jameskleeh commented on #72
The 2.x and 3.x lines have been updated to the latest version of liquibase. Closing this as there are no plans to update 1.x

[2016-10-28 15:38] #72 closed

[2016-10-28 15:59] robertoschwald opened #91 "Migrate documentation to Grails 3 for 2.0.0"
PR follows

[2016-10-28 16:00] jameskleeh commented on #91
Be sure to do it against the 2.x branch. I can merge it up to master.

[2016-10-28 16:17] burtbeckwith commented on #91
It would be good to include removing the section on Autobase and the discussion about the Searchable plugin from gettingStarted.adoc with this since both are quite dated and not applicable in 3.x

[2016-10-28 16:53] #91 closed

[2016-10-31 09:15] robertoschwald opened #95 "Excessive Index re-creation by Liquibase-Hibernate 3.6"
See https://github.com/liquibase/liquibase-hibernate/issues/134

Affects e.g. UserRole if using spring-security-core plugin.

[2016-10-31 10:14] markoschnecke commented on #69
@jameskleeh yes I can confirm the behavior that you've described. As you wrote, liquibase is now writing changelogs that want to drop an re-add the index every time. Since you closed this issue, are you addressing the issue in another ticket?

[2016-10-31 12:39] jameskleeh commented on #69
@markoschnecke I'm 95% sure the issue lies in liquibase-hibernate. You can create an issue there

[2016-10-31 12:51] jameskleeh commented on #71
@nvoxland Is there an issue for this in your system anywhere?

[2016-11-01 13:35] tlefevre opened #96 "SchemaComparison failure in Liquibase"
When using version 2.0.0 of the plugin and running it, I get the following:

Command execution error: liquibase.diff.output.DiffOutputControl.<init>(ZZZ[Lliquibase/diff/compare/CompareControl$SchemaComparison;)V

When using version 2.0.0.RC4 of the plugin, it works.

I can see that there has been changes made in the Liquibase dependencies. I am having little luck coaxing any relevant info out of g

[2016-11-01 13:39] jameskleeh commented on #96
You're using an old version of liquibase: http://grails-plugins.github.io/grails-database-migration/2.0.x/index.html#gettingStarted

compile 'org.liquibase:liquibase-core:3.5.3'

[2016-11-01 13:39] #96 closed

[2016-11-02 09:49] robertoschwald opened #97 "2.0.0 jar does not expose its version"
Since 2.0.0 release, plugin.version doesn't seem to be exposed from pluginManager:

[code]

[2016-11-08 04:49] garrotin opened #98 "MissingMethodException with dbmigration 1.4.1"
I am receiving the error below when trying to run specific contexts.  From jenkins I am call this command

-Dgrails.work.dir=NCMIG dbm-update --contexts=DDL --non-interactive --plain-output --stacktrace --verbose

Which in turn ends up with the stacktrace below.  If I take contexts off it seems to run just fine.

groovy.lang.MissingMethodException: No signature of method: liquibase.Liquibase.updat

[2016-11-08 04:53] garrotin commented on #98
This is very similar to this issue mentioned [here](http://stackoverflow.com/questions/31673828/grails-2-5-dbm-update-always-fails-with-missingmethodexception-if-you-specify-an). http://stackoverflow.com/questions/31673828/grails-2-5-dbm-update-always-fails-with-missingmethodexception-if-you-specify-an

I am using grails 2.3.11 and jdk 7_79

[2016-11-08 04:55] jameskleeh commented on #98
Best bet to getting this fixed is to submit a PR. The Grails team isn't going to maintain the 1.x line of this plugin.

[2016-11-08 16:00] alibazlamit opened #99 "| Error Command not found dbm-generate-changelog"
Trying to run this command `grails dbm-generate-changelog changelog.groovy` and i got this error.
Running grails 3.2.0 on windows.

Any ideas?

`| Error Command not found dbm-generate-changelog
Did you mean: dbm-create-changelog or dbm-changelog-to-groovy or generate-all?`

[2016-11-08 16:03] jameskleeh commented on #99
Are you attempting to generate a changelog from your database?

[2016-11-08 16:33] alibazlamit commented on #99
using this version `org.grails.plugins:database-migration:3.0.0` i tried both from the db and from the domain class using this command `grails dbm-generate-gorm-changelog changelog.groovy` and i got the same result.

Thanks

[2016-11-14 14:48] HopefulLlama commented on #55
Experiencing this problem, even with the correction of `grailsPrecondition`.

[2016-11-14 14:54] jameskleeh commented on #55
@HopefulLlama Then open a new issue with an example project

[2016-11-15 13:51] Kipriz commented on #99
I have a similar issue. I'm using Grails 3.2.3 and the plugin 3.0.0
Any plugin's command fails to execute. I tried to add for a quite big existing project. For completely new and almost empty project, the plugin works fine.

[2016-11-15 13:54] jameskleeh commented on #99
@Kipriz @alibazlamit Do you have the plugin defined like so in your build.gradle?

[code]

[2016-11-15 15:16] alibazlamit commented on #99
Yes i have those configured in the build.gradle

[code]

[2016-11-15 19:59] Kipriz commented on #99
@jameskleeh , I also have all necessary settings.
Can you try to run dbm-status on your env for this project: https://github.com/Kipriz/gr323 ?
It is created by Grails 3.2.3, then I added Client entity and I'm trying to run at least dbm-status. It does not work.

[2016-11-17 05:48] edwardotis commented on #62
For posterity, I had a similar issue  onElasticBeanstalk with grails 3.x and tomcat.
I set this property in application.groovy to fix it:
liquibase.enabled = false

Of course, you'll have to unset that when you actually want to do a migration, but just run that from a non beanstalk/tomcat machine.

[2016-11-17 17:02] alibazlamit commented on #99
@jameskleeh do you think that could be a solution for this problem soon, or should i start looking for alternatives?
Thanks

[2016-11-17 17:27] jameskleeh commented on #99
@Kipriz Here you go:

[code]

[2016-11-17 17:28] jameskleeh commented on #99
@alibazlamit I'm not convinced there is a problem to be solved.  If you can produce a sample application, I'll be glad to look at it.

[2016-11-18 00:26] alibazlamit commented on #99
@jameskleeh apologies it seems that i was referencing an older version of the migration from before, i inspected the whole gradle.build file and it was there somewhere in between, the problem is gone.

[2016-11-18 15:55] #99 closed

[2016-11-18 19:53] jameskleeh commented on #85
Closing this due to lack of response. Create a new issue with an example project if you are still facing this issue with version 2.0.0.

[2016-11-18 19:53] #85 closed

[2016-11-18 19:55] jameskleeh commented on #89
Closing this due to lack of response. Create a new issue with with steps to reproduce and an example project if you are still facing this issue with version 2.0.0(hibernate4) or 3.0.0(hibernate5)

[2016-11-18 19:55] #89 closed

[2016-11-21 16:33] edwardotis opened #100 "Excessive re-creation of all Foreign Key, index and unique constraints, plus primary key sequence default values in plugin 2.x with postgres 9.5.x"
I recently migrated from grails 2.5 to grails 3.1. My datamigration changelogs on the existing database are filled with recreations of all my pre-existing Foreign Key, index and unique constraints, plus postgres primary key sequences.

I had a few repeated, re-recreations in each diff in the 1.x plugin around booleans, but they were manageable to hand delete each time. With the 2.x plugin,  I get

[2016-11-21 16:38] jameskleeh commented on #100
The 1.x versions of this plugin is in no longer being maintained. Most likely your problems are with liquibase which would require you to upgrade to Grails 3 and DBM 2.x or 3.x

[2016-11-21 17:17] edwardotis commented on #100
@jameskleeh Sorry, a keyboard short cut key published my post while I was still editing. Please see my updated issue report.

[2016-11-21 17:23] jameskleeh commented on #100
Part of this is a duplicate of https://github.com/grails-plugins/grails-database-migration/issues/95

Essentially you should raise issues with `liquibase-hibernate`. The plugin is working as designed, it is the liquibase side that is not working as you would expect.

My advice is to create your changesets manually until the issues are resolved

[2016-11-21 18:32] edwardotis commented on #100
ok, thanks

[2016-11-21 22:53] KoloritnijClap opened #101 "Grails 3.2.x Command new terms"
Regarding new rules for Commands: http://docs.grails.org/3.2.3/guide/single.html#creatingCustomCommands
Please, update command in plugin, they should implement: [GrailsApplicationCommand](http://docs.grails.org/latest/api/grails/dev/commands/GrailsApplicationCommand.html)

[2016-11-21 23:07] jameskleeh commented on #101
Why? What problem are you facing?

[2016-11-21 23:09] KoloritnijClap commented on #101
@jameskleeh I use grails 3.2.3(java1.8.0_102) and I can't run any dbm-* commands, only dbm-changelog-to-groovy and dbm-create-changelog. It wrote that cannot find command.

[2016-11-21 23:11] jameskleeh commented on #101
Create an example project that demonstrates the issue and link to it here

[2016-11-21 23:11] jameskleeh commented on #101
Also document steps to reproduce

[2016-11-21 23:33] KoloritnijClap commented on #101
@jameskleeh https://github.com/KoloritnijClap/command-issue here it is a main project named project-a and a core plugin that contain all domains. In project-a I can't run any dbm-* commands. The main thing that changelog.groovy should be in core plugin, that I can access it from another project(for example project-b)

[2016-11-22 00:03] jameskleeh commented on #101
Please provide steps to reproduce the issue

[2016-11-22 08:30] KoloritnijClap commented on #101
@jameskleeh go to project-a dir -> run grails CLI -> it impossible to run any dbm-* commands, also if press TAB you will not see they in command list.

[2016-11-22 08:37] KoloritnijClap commented on #101
Had issue on macOs Sierra and Linux Ubuntu 16.04

[2016-11-22 16:05] jameskleeh commented on #101
The reason looks to be a missing dependency.

`java.lang.ClassNotFoundException: org.hibernate.tool.schema.TargetType`

[2016-11-22 16:08] jameskleeh commented on #101
You are missing this in your build.gradle:

[code]

[2016-11-22 16:08] #101 closed

[2016-11-22 18:49] edwardotis commented on #100
Looks like they were able to fix the problem for the hibernate5 version of liquibase-hibernate:

https://github.com/liquibase/liquibase-hibernate/issues/129

[2016-11-23 10:18] KoloritnijClap commented on #101
@jameskleeh I have
`compile 'org.grails.plugins:hibernate5:6.0.4'
    compile "org.hibernate:hibernate-ehcache"`
Should I change it to 5.1.2?

[2016-11-28 20:53] Kipriz opened #102 "Default dataSource is excluded from dataSources if I have them"
I have the following database configuration: 1 master database (default dataSource in Grails) and a few multitenant databases (under dataSources in Grails).
I see the following in `DatabaseMigrationCommand.groovy`:
[code]
So, default dataSource is excluded if I have declared dataSources. It looks wrong to me.
Is it done by intent? What is the reason to exclude default data source? Is it safe to al

[2016-11-29 20:31] Kipriz opened #103 "How to enable logging?"
For Grails 2.4 migration plugin has a lot of logging that was very useful.
Does version 3.0.0 of migration plugin support any kind of logging?
If no, how to better implement logging from your point of view?

[2016-12-02 16:14] edwardotis commented on #100
@jameskleeh given that the Grails 2.x version of this plugin currently works fine with hibernate4. Is it possible to roll back to a previous, correctly functioning, liquibase-hibernate dependency in the Grails 3.x database migration plugin?

[2016-12-02 16:17] jameskleeh commented on #100
@edwardotis Previous versions had other issues that were resolved, so I don't see the benefit in doing so

[2016-12-02 16:19] edwardotis commented on #100
@jameskleeh ok, fair point

[2016-12-02 17:24] jameskleeh commented on #103
logback.groovy:
`logger("org.liquibase", INFO, ['STDOUT'], false)`

[2016-12-02 17:24] #103 closed

[2016-12-02 17:28] jameskleeh commented on #102
If you are declaring multiple data sources, they must all be under the `dataSources` key, with the default data source being named `dataSource`. Provide an example application demonstrating behavior you think is a bug and I can take a look.

[2016-12-03 21:37] zyro23 opened #104 "hibernate-envers - UnsupportedOperationException"
dbm-3.0.0, grails-3.2.3, gorm-6.0.4, hibernate-5.0.11.

when using hibernate envers, all liquibase commands that involve two databases (e.g. dbm-gorm-diff - 1 gorm db, 1 real db) cause an `UnsupportedOperationException` here:
https://github.com/hibernate/hibernate-orm/blob/5.0.11/hibernate-envers/src/main/java/org/hibernate/envers/boot/internal/EnversServiceImpl.java#L107

ugly workaround for now

[2016-12-05 23:36] edwardotis commented on #100
I added a pull request to liquibase-hibernate

https://github.com/liquibase/liquibase-hibernate/pull/138

[2016-12-06 16:37] azhuchkov opened #105 "Cannot run plugin scripts on empty DB"
Neither `dbm-update`, nor `dbm-status` do not work, because they bootstrap application which requires tables and fails due to that. Additionally it is time-consuming.

Is it possible to run migration scripts without bootstrapping application?

Grails: 2.3.11
Migration Plugin: 1.4.1

[2016-12-06 16:40] jameskleeh commented on #105
I'm 95% sure that behavior was not happening with the Grails 2 version of the plugin. It was happening with the 2.0 RC releases and was fixed in 2.0/3.0.

Either way, the 1.x line of the plugin isn't being maintained. I suggest you upgrade to Grails 3 and version 2.0/3.0 of the plugin which has newer liquibase support.

[2016-12-06 16:54] jameskleeh commented on #104
Can you include the stacktrace? I doubt hibernate would consider changing that for our use case.

[2016-12-06 21:23] azhuchkov commented on #105
I'm 99% sure this is not related to `grails.bootstrap.skip` option introduced in Grails 3.x.

Consider this scenario:
1. `grails dbm-status` command is fired which invokes script `DbmStatus.groovy`
2. script `_DatabaseMigrationCommon.groovy` is evaluated. It has several dependencies and `bootstrapOnce` among them.
3. Grails application is launched and takes so much time for application context con

[2016-12-06 21:28] jameskleeh commented on #105
So when you said "bootstrapping application", I believed you meant the execution of Bootstrap.groovy. Now I am understanding that is not what you meant, and instead are talking about Quartz firing some SQL that is not appropriate.

That scenario would occur with any version of Grails and any version of the dbm plugin. The migration plugin certainly can't control what other plugins do or do not do.

[2016-12-06 21:28] #105 closed

[2016-12-06 21:36] azhuchkov commented on #105
Yep, when application context is being initialised anything can happen. The question is: why application context initialization is required for such dbm operations like *status*, *validate*, *update* and others which IMO requires DB connection parameters only?

[2016-12-06 21:38] jameskleeh commented on #105
The datasource is registered and retrieved as a bean. That requires the context.

[2016-12-06 21:41] azhuchkov commented on #105
Ok. I thought it can be done like this: http://mrhaki.blogspot.ru/2011/03/grails-goodness-access-configuration-in.html

[2016-12-06 21:44] jameskleeh commented on #105
No. It would not be wise or practical to duplicate all of the logic on how to create a dataSource for all database implementations in the migrations plugin.

[2016-12-06 21:49] azhuchkov commented on #105
Sure. Figuring out what has been failed, why and what should be disabled and when enabled again is very practical. :)

[2016-12-08 18:04] j4y opened #106 "liquibase NPE 'Name is null' with Grails 3.0.17 and v2.0.0"
We are currently using version `2.0.0.RC4` and would like to upgrade to `2.0.0`, but receive an error running the app when we simply change the version.  It looks like it is having trouble parsing the change log file.

[code]

[2016-12-08 18:15] jameskleeh commented on #106
Please provide an example application that demonstrates the issue

[2016-12-08 19:04] MichaelMorett opened #107 "Command not found dbm-generate-gorm-changelog"
Per the documentation here: [http://grails-plugins.github.io/grails-database-migration/3.0.x/index.html#gettingStarted](url)

I followed the instructions to execute this command:
**grails dbm-generate-gorm-changelog changelog.groovy**

It immediately fails.
**| Error Command not found dbm-generate-gorm-changelog**
Did you mean: dbm-create-changelog or dbm-changelog-to-groovy or generate-all?

Usin

[2016-12-08 19:09] jameskleeh commented on #107
Do you have it listed as a classpath dependency in the buildscript section?

[2016-12-08 19:14] MichaelMorett commented on #107
Hi James.  Yes.

    dependencies {
        classpath "org.grails:grails-gradle-plugin:$grailsVersion"
        classpath "com.bertramlabs.plugins:asset-pipeline-gradle:2.8.2"
        classpath "org.grails.plugins:hibernate5:5.0.11"
        classpath 'org.grails.plugins:database-migration:3.0.0'
    }

[2016-12-08 19:16] jameskleeh commented on #107
Please provide an example project that demonstrates the problem

[2016-12-08 19:19] MichaelMorett commented on #107
Appreciate the attempt to help but I can't switch gears.  I've got work on my plate.

[2016-12-08 19:21] jameskleeh commented on #107
OK. If you are ever inclined to create an example project, feel free to create a new issue.

[2016-12-08 19:21] #107 closed

[2016-12-08 21:08] j4y commented on #106
The application I'm working on is not open source so I will have to come up with an example.  Any ideas where to look?  It's expecting a 'Name' parsing the changelog.

Also did anything significant change between `2.0.0RC4` and `2.0.0`?  RC4 works fine for us.

[2016-12-08 21:10] jameskleeh commented on #106
The version of liquibase was updated. That is most likely the cause

[2016-12-09 01:11] MichaelMorett opened #108 "Command not found dbm-generate-gorm-changelog"
This is the same as Issue #107 which was closed earlier due to not having a sample project to show the issue.

A sample project can be found here:
https://github.com/MichaelMorett/dbmigration

After more testing and experimentation, issue seems to be related to Hibernate5.

==============

Per the documentation here: http://grails-plugins.github.io/grails-database-migration/3.0.x/index.html#gettin

[2016-12-09 04:06] MichaelMorett commented on #108
I wanted to provide additional info...

Taking the same exact source code found here...
https://github.com/MichaelMorett/dbmigration

...but with a virgin app **built with Grails 3.2.3** (instead of 3.1.12),  the problems went away.

More specifically,  these are the substantive points of change:

Grails 3.2.3 defaults
buildscript dependency
    **classpath org.grails.plugins:hibernate5:6.0.4**

d

[2016-12-09 07:03] jameskleeh commented on #108
So what is actually failing is the SchemaExportCommand. My guess is the version of hibernate-core, 5.0.11 is not compatible with the version of the hibernate plugin you have specified.

[2016-12-09 07:07] jameskleeh commented on #108
If you want to stay on Gorm 5, you should be using:

Hibernate version: 5.1.0
Gorm version: 5.0.12

[code]

Then the command works.

[2016-12-09 07:07] #108 closed

[2016-12-09 07:11] jameskleeh commented on #108
If you want to stick with hibernate 5.0.x you need to be using 5.0.4 of the plugin:

[code]

[2016-12-10 04:50] MichaelMorett commented on #108
Thanks for the info James.

We agreed to move to Grails 3.2.3.   So far, various tests are failing and the app won't start.  Doing a Grails 3 upgrade has been utter hell.  Horrible.  Just horrible.

[2016-12-12 20:29] jameskleeh commented on #108
@MichaelMorett Can you send me an email with your major pain points? kleehj@ociweb.com

[2016-12-13 05:20] MichaelMorett commented on #108
Pain points sent via email, James.   Cheers...

[2016-12-19 23:33] liftyourgame opened #112 "dbmGenerateChangeLog frozen"
I have a grails 3.2.3 project with Hibernate5

I've set up version 3.0.0 of the migration plugin.

When I run:

grails dbm-generate-changelog changelog.groovy

compileJava UP-TO-DATE
:compileGroovy UP-TO-DATE
:buildProperties UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:findMainClass
:dbmGenerateChangelog
objc[70710]: Class JavaLaunchHelper is implemented in both /Library/Java/Java

[2016-12-20 00:22] jameskleeh commented on #112
Does it happen every time?

[2016-12-20 00:24] liftyourgame commented on #112
Yes. Everytime. I'm trying to generate the initial change log.

[2016-12-20 02:51] liftyourgame commented on #112
Not sure what changed but seems to be working now

[2016-12-20 02:51] #112 closed

[2016-12-20 03:02] liftyourgame opened #113 "No such property databaseChangeLog"
When running:

grails dbm-changelog-sync

I get the following error.

INFO 20/12/16 12:06 PM: liquibase: Can not use class org.grails.plugins.databasemigration.liquibase.GormDatabase as a Liquibase service because it does not have a no-argument constructor
Command execution error: groovy.lang.MissingPropertyException: No such property: databaseChangeLog for class: Script1
:dbmChangelogSync FAILED

[2016-12-20 03:32] liftyourgame commented on #113
Seems to work ok despite the error.

[2016-12-20 03:33] jameskleeh commented on #113
Attach an example project and I'll take a look

[2016-12-20 19:45] edwardotis commented on #42
@ctoestreich I'm having the a similar problem calling User.encodePassword() from within a dbm changeSet. The springsecurityservice bean used for encoding is not injected into User in grails 3.1, but it was injected properly in grails 2.5.5 during dbm-update

How did you get past this issue?

Grails 3.1.14
database-migration:2.0.0
spring-security-core:3.1.1

[2016-12-20 19:58] edwardotis opened #114 "springsecurityservice dependency injection fails during dbm updates"
So, the thread  in issue https://github.com/grails-plugins/grails-database-migration/issues/42 appears to have gotten off topic from the initial question, and focused on skipping Bootstrap.groovy. I'm opening a new issue to focus on the original plugin load order issue.

I'm having a similar problem as issue https://github.com/grails-plugins/grails-database-migration/issues/42 calling User.encodeP

[2016-12-20 20:00] jameskleeh commented on #114
I don't see how that would make a difference since the User class isn't created until after the application is started (after all plugins are loaded)

[2016-12-20 20:08] edwardotis commented on #114
@jameskleeh Thanks, any other ideas why this dependency injection is failing?

[2017-01-05 02:40] halfhp commented on #113
I'm seeing this during startup as well.  No noticeable side effects yet tho.

[2017-01-09 05:26] schmickie commented on #113
I am also seeing this during startup in a grails 3.2.4 project.

[code]

[2017-01-10 14:08] jameskleeh commented on #113
Closing this as no example project attached. If you are still facing this problem, open a new issue with an example project.

[2017-01-10 14:08] #113 closed

[2017-01-10 14:09] jameskleeh commented on #102
Closing because no feedback provided

[2017-01-10 14:09] #102 closed

[2017-01-10 14:10] jameskleeh commented on #114
@edwardotis Not really. If you attach an example project I can take a look

[2017-01-10 14:19] jameskleeh commented on #104
@zyro23 I don't think there is anything I can do on this end. I see the issue you linked is closed. Does that satisfy your requirement?

[2017-01-10 14:39] zyro23 commented on #104
linked issue has kind of a follow up as it fixed being able to register a custom service in envers but now the configuration of a custom mappingContextConfiguration is not working. ref. https://github.com/grails/gorm-hibernate5/issues/17

anyway, thats the right place where this should be fixed. closing this one here. thanks!

[2017-01-10 14:39] #104 closed

[2017-01-10 15:09] koji-k opened #115 "Postgres dbm-gorm-diff fails with Integer defaultValue"
# Situation
I use Grails 3.2.4, Hibernate5 and PostgreSQL 9.3.15.
When i specify `defaultValue` in mapping on Domain, dbm-gorm-diff fails after second time.
I summarized the situation.

# Preparation and Migrate first time

**1. Create new Grails 3.2.4 application. (with `database-migration:3.0.0`, `org.liquibase:liquibase-core:3.5.3`)**

**2. Setup database-migration plugin.(create changelog.groo

[2017-01-11 05:47] snimavat commented on #88
This could work when using the inhouse plugins, but with third party plugins it would be risky to run migrations from them.

[2017-01-18 15:24] jameskleeh commented on #106
Closing due to no example provided.

[2017-01-18 15:24] #106 closed

[2017-01-18 21:32] jameskleeh commented on #115
This is a problem with liquibase/liquibase-hibernate. You need to report the issue there.

The issue is:

The postgres snapshot for the age column returns a liquibase.statement.DatabaseFunction when getAttribute("defaultValue", Object.class) is called (https://github.com/liquibase/liquibase/blob/a57dfe9c73a849dcfd71a59cbcd394611a828bb2/liquibase-core/src/main/java/liquibase/diff/compare/core/Defau

[2017-01-18 21:42] jameskleeh commented on #115
PS: Thanks so much for the sample repo with the docker instructions. Made my life a lot easier!

[2017-01-19 10:58] koji-k commented on #115
@jameskleeh Thank you for checking this proboem!
I wrote about this proboem on JIRA of Liquibase.
https://liquibase.jira.com/browse/CORE-2986

I am glad that i can take part for this plugin.
This Migration plugin is helping my life every day.
Really thanks for providing this nice plugin!

[2017-01-20 14:53] erichelgeson opened #118 "dbm should run before quartz/schwartz plugins"
I recently dropped my database (hadn't since Grails 3.1.x) and re-started from scratch. Quartz would not start up due to no tables being created. This was due to dbm not running before to create the tables. I disabled quarts and let it dbm run, then re-enabled quartz and all was fine.

Should this constraint go in dbm or the respective plugins? eg: https://github.com/grails-plugins/grails-quartz/b

[2017-01-20 14:56] jameskleeh commented on #118
I'm not sure making a change for loadAfter/loadBefore would have any effect, however you could give it a try locally and report back. I would think the change should go in the quartz plugin since it is the one with the issue.

[2017-01-20 15:06] erichelgeson commented on #118
You're correct - the load* list didn't change the behavior. Is there a way to ensure dbm is run early to create tables for plugins that depend on them?

[2017-01-27 09:47] immutability opened #120 "PSQL schema_name ignored"
We've recently migrated our Grails 2.5.x app to Grails 3.1.x and are facing an issue with our production environment, which is using PostgreSQL with a non-standard schema (i.e. not 'public').

In Grails itself, this can be configured in the dataSource block of application.groovy as:
[code]

This worked fine in Grails 2 but fails in Grails 3, with this exception:

Grails itself works correctly if l

[2017-01-27 16:33] bobbywarner commented on #120
You need to also set: `grails.plugin.databasemigration.updateOnStartDefaultSchema`

[2017-01-27 16:33] #120 closed

[2017-01-27 19:06] immutability commented on #120
@bobbywarner Thank you, that was it!

[2017-02-01 20:41] dhalupa commented on #86
I've tested this with plugin version 2.0.0 and Grails 3.1.11.
The problem encountered was that for some reason liquibase-core version 3.4.2 was always selected as dependency. (dependencyInsight did not provide any information about the reason)
Once I explicitly added
`runtime "org.liquibase:liquibase-core:3.5.3"`
I was able to execute dbm-gorm-diff against oracle database

[2017-02-01 20:42] #86 closed

[2017-02-08 02:41] YingchunLi commented on #115
I got the same issue with h2 database. So I think this is not just related to Postgres.

[2017-02-09 04:57] edwardotis opened #121 "multiple, conflicting postgres sequences are generated for each new domain class."
The diff generates an explicit sequence change statement for each new domain.
This sequence is bad, and should never be put in the database.

This did not happen in grails2.x version of this plugin.

Given a new domain class, DuplicateDetection.groovy
`package com.temp

class DuplicateDetection {

    static constraints = {
    }
}`

Running diff generates:

`databaseChangeLog = {

    changeSet(a

[2017-02-09 05:09] edwardotis commented on #115
If you came here with this problem, please create a jira account and upvote the ticket to speed up resolution:
https://liquibase.jira.com/browse/CORE-2986

[2017-02-09 05:15] edwardotis opened #122 "deafult values are incorrectly removed by subsequent diffs"

[2017-03-03 12:04] MiguelAngel82 opened #124 "Converting nullable columns from relationships is not working"
Hi all.

There seems to be a mistake when the plugin is converting nullable columns that are part of a relation between the two domains.

I have created an [example](https://github.com/MiguelAngel82/testMigration) to show the possible bug.

This example uses Grails 3.1.8, Hibernate 5 and MySQL as a database.

Firstly, I've created two domain classes as shown:

[code]

[code]

Then, I've executed t

[2017-03-05 15:59] jameskleeh commented on #122
Did you specify `compile 'org.liquibase:liquibase-core:3.5.3'` in your build.gradle ?

[2017-03-05 16:01] jameskleeh commented on #121
Did you specify `compile 'org.liquibase:liquibase-core:3.5.3'` in your build.gradle?

[2017-03-06 08:25] selement opened #125 "dbm-generate-changelog fails"
:compileJava UP-TO-DATE
:compileGroovy UP-TO-DATE
:buildProperties UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:findMainClass
:dbmGenerateChangelog
2017-03-06 10:56:25.869  INFO --- [           main] .c.GrailsApplicationContextCommandRunner : Starting GrailsApplicationContextCommandRunner v3.2.6 on machineName with PID 8064 (C:\Users\userid\.gradle\caches\modules-2\files-2.1\org.gr

[2017-03-06 14:06] jameskleeh commented on #125
Looks to me like something with your application

`at org.grails.web.sitemesh.Grails5535Factory.(Grails5535Factory.java:78)`

[2017-03-07 08:45] selement commented on #125
Thanks for your prompt reply. This time I used rest-api grails project structure with same error. I am using oracle database and trying to create domains from schema; too many tables to convert. I have attached project.

From: "James Kleeh" <notifications@github.com>
To: "grails-plugins/grails-database-migration" <grails-database-migration@noreply.github.com>
Cc: "selement" <selement@aus.edu>, "Au

[2017-03-08 05:43] selement commented on #125
https://github.com/selement/ReCreateDBMigrationProblem

[2017-03-08 05:57] jameskleeh commented on #125
@selement You should be using version 2.0.0 of the plugin. You are still using an RC. Change that and report back if it works.

[2017-03-08 07:53] selement commented on #125
Thanks and sorry. Indeed that was the problem; although I started off with that before reverting. Had one of those days! At any rate, looking at the changelog.groovy file I am baffled. I thought it was going to generate things in a proper grails/groovy domain class format? I am confused as to what I would use this for? I am new to this stack so apologies. I am struggling with getting used to the B

[2017-03-08 14:11] jameskleeh commented on #125
For questions try Stackoverflow or [Slack](https://grails.signup.team/)

[2017-03-08 14:11] #125 closed

[2017-03-08 14:13] jameskleeh commented on #124
What version of the plugin are you using?

[2017-03-09 06:35] MiguelAngel82 commented on #124
Sorry, I forgot to write plugin's version.

It's 3.0.0

[2017-03-09 21:54] rrsIPOV opened #126 "Please enable support for Custom Environments"
### Task List

- [x] Steps to reproduce provided
- [-] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Grails app using latest stable release.
2. Add grails-database-migration v3 to gradle.build
3. Add some domain classes
4. For demonstration - change developm

[2017-03-09 22:04] jameskleeh commented on #126
What are the steps to reproduce with the example project?

Did you try `grails datatool dbm-update` ?

[2017-03-10 02:26] rrsIPOV commented on #126
| Error Command not found datatool

In the sample project, to reproduce, it should only be needed to run:

The H2 database 'rdataDB' is a snapshot before the final change log, so it doesn't have the Author.email column which should be added.  This was the fastest way I could think of to show the issue that I'm seeing.  You will also notice in the stacktrace.log that the environment says 'developme

[2017-03-10 04:52] jameskleeh commented on #126
Here is a workaround: `./gradlew -Dgrails.env=datatool dbmUpdate`

[2017-03-10 06:27] edwardotis commented on #122
Yes, I did.
`    compile 'org.liquibase:liquibase-core:3.5.3'
`

[2017-03-10 06:27] edwardotis commented on #121
Yes, I did.
`    compile 'org.liquibase:liquibase-core:3.5.3'
`

[2017-03-10 06:32] jameskleeh commented on #126
This was actually an issue with core. Fixed by https://github.com/grails/grails-core/commit/d780175f3680969596b429819857565c310b8e21

[2017-03-10 06:32] #126 closed

[2017-03-10 06:37] edwardotis commented on #121
ah, I think I see the problem. I have several tables that need to use a specific sequence name for legacy reasons.
The old plugin correctly detected and handled the custom sequence defined in the mapping. The new plugin does not handle it, so it keeps trying to generate a new sequence each time.

`	static mapping = {
		id column: "duplicate_detection_id", generator: "native", params: [sequence: 'd

[2017-03-18 23:23] mtgleeson opened #127 "Error creating 'hibernateDatastore' - circular reference when running plugin commands"
### Steps to Reproduce

run grails dbm-update

### Expected Behaviour

grails loads the application context and applies any migration updates to the database successfully.

### Actual Behaviour

An error is received on running the dbm-* commands. Using the plugin with grails 2.4 was fine but I've been getting this error since moving to Grails 3.2.4. The application starts up without error via run-

[2017-03-18 23:28] jameskleeh commented on #127
Elasticsearch is supplying the auditlistener which is causing the problem

[2017-05-06 22:29] dbknickerbocker commented on #127
Is there a workaround besides disabling the Elasticsearch plugin when running dbm commands?

[2017-05-19 07:33] djpentz commented on #127
I'm having the same problem using the database-migration plugin v3.0.0

[2017-05-19 08:01] djpentz commented on #127
I think this will be fixed by this: https://github.com/grails/grails-data-mapping/issues/946. So it's basically wait for v3.2.10.

[2017-05-22 13:46] dbknickerbocker commented on #127
You do not necessarily need to wait until Grails v3.3.0 to get the fix.  [grails/grails-data-mapping#946](https://github.com/grails/grails-data-mapping/issues/946) is currently marked for GORM 6.1.4.  Once that is released, simply update your Grails v3.2.x gormVersion.

[2017-05-22 14:19] rvanderwerf commented on #127
Yes but not everyone can run the latest GORM. GORM 6.0.9 is packages with 3.2.x releases because 6.1.x has breaking changes in it.

[2017-06-08 07:20] bmpooja opened #131 "gorm-diff generates duplicated primaryKeyName in constraints"
###Problem statement
gorm-diff creates the sql output, with tables having the same primary key
### Task List

- ### [ ] Steps to reproduce provided
Create two domain classes say tenantNetworkContact and tenantNetworkMember
and generate the gorm diff

You will see the below output

[code]
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full

[2017-06-09 16:28] jameskleeh commented on #127
This has been fixed in Gorm 6.0.x and 6.1 for both Hibernate 4 and 5.

[2017-06-09 16:28] #127 closed

[2017-06-09 16:29] jameskleeh commented on #114
Closing due to no example attached

[2017-06-09 16:29] #114 closed

[2017-06-27 05:37] snimavat opened #133 "db migration commands results in errors when using inline/exploded plugins"
When a project uses any plugin as exploded as below

[code]

Db migration will try to run the commands on the plugin too, and will fails with error

Try with attached example
[bugwork.zip](https://github.com/grails-plugins/grails-database-migration/files/1104249/bugwork.zip)

run the grails dam-generate-gorm-changelog on the app and u should see the error.

[2017-08-25 19:56] mike-strauch commented on #103
Has this changed at all in more recent releases?  The only logging I ever seem to get is:

[code]

Here's what I've got in my logback config:

[code]

I've tried different values for the level: DEBUG, TRACE, INFO

[2017-09-12 14:24] reduardo7 commented on #81
@jameskleeh not working for my...

[2017-09-14 19:11] ppazos opened #136 "Installing plugin on Grails 3.2.9 downloads H2 dependencies on project using postgres"
### Steps to Reproduce

1. Install following this guide http://guides.grails.org/grails-database-migration/guide/index.html
2. Dependencies

| Resolving Dependencies. Please wait...
Download https://repo.grails.org/grails/core/org/grails/plugins/database-migration/3.0.3/database-migration-3.0.3.pom
Download https://repo.grails.org/grails/core/org/liquibase/liquibase-core/3.5.3/liquibase-core-3.5.3

[2017-09-14 19:15] ppazos opened #137 "Error circular dependency on grails dbm-generate-gorm-changelog: hibernateDatastore <> userPasswordEncoderListener"
### Steps to Reproduce

1. Follow this guide http://guides.grails.org/grails-database-migration/guide/index.html
2. $ grails dbm-generate-gorm-changelog changelog.groovy

Configuring Spring Security Core ...
... finished configuring Spring Security Core

2017-09-14 16:06:26.207 ERROR --- [           main] o.s.b.d.LoggingFailureAnalysisReporter   :
Context failed to load: Error creating bean with n

[2017-09-14 19:19] jameskleeh commented on #137
Dup of https://github.com/grails-plugins/grails-database-migration/issues/127

[2017-09-14 19:19] #137 closed

[2017-09-14 19:20] jameskleeh commented on #136
This has nothing to do with the database migration plugin. Run a dependency report with `./gradlew dependencies` to see where it is coming from

[2017-09-14 19:20] #136 closed

[2017-09-16 11:01] ppazos commented on #136
@jameskleeh Will do, but this appeared right after adding the reference to this plugin.

[2017-09-21 20:14] ppazos commented on #136
@jameskleeh it seems there is an H2 dependency from liquibase hibernate

+--- org.grails.plugins:database-migration:3.0.3
|    +--- org.liquibase:liquibase-core:3.5.3
|    |    \--- org.yaml:snakeyaml:1.17
|    \--- org.liquibase.ext:liquibase-hibernate5:3.6
|         \--- com.h2database:h2:1.4.192 -> 1.4.194
\--- org.liquibase:liquibase-core:3.5.3 (*)

[2017-10-11 08:42] YouriAckx commented on #122
FYI, I have just added the following to a domain:

[code]

And liquibase correctly detects the default, and does no longer generate a `dropDefaultValue`.

[code]

[2017-10-16 07:27] ppazos commented on #137
@jameskleeh I'm now using elastic search as mentioned on #127. Not sure what is the issue or the solution.

[2017-10-16 07:28] ppazos commented on #136
Please reopen this issue since the dependency is there.

[2017-11-10 11:13] RobertStroud commented on #104
@zyro23 can you provide more information about your "ugly workaround"? Is this something that needs to be fixed in the "database-migration" plugin, or does it need to be fixed in the interface between Grails and Envers, for example, in an Envers plugin?

I am experiencing the same problem using Grails 3.2.12 with GORM 6.1.6 and a version of the "grails-envers" plugin that has been ported to Grails

[2017-11-11 12:54] zyro23 commented on #104
ref. https://hibernate.atlassian.net/browse/HHH-12089

[2018-01-12 04:28] acanby opened #139 "Config item loadPluginMigrations no longer supported?"
Hi folks,

The documentation ([2.x](https://github.com/grails-plugins/grails-database-migration/blob/2.x/src/docs/asciidoc/configuration.adoc) & [3.x](https://github.com/grails-plugins/grails-database-migration/blob/master/src/docs/asciidoc/configuration.adoc)) suggests that `loadPluginMigrations` should enable migrations to be loaded from plugins/classpath, but after looking through the code it s

[2018-01-31 00:22] kevinclcn opened #141 "When to support grails 3.3?"
### Steps to Reproduce

Per this link https://github.com/grails/gorm-hibernate5/issues/25, the correct multiple datasources config syntax for grails 3.3 is:
[code]

rather than:

[code]

But the grails-database-migration tool supports only the second format. I've tried to provide a PR for quick fix, but it broken lots of tests since grails 3.3's test framework has been changed totally. https://git

[2018-02-07 20:50] ppazos commented on #136
@jameskleeh did you checked the dependencies? should I report another issue with the same description?

[2018-03-01 22:16] joemccall86 commented on #118
I know this ticket is old, but in case anyone needs a work-around:

* Disable quartz auto-startup in application.yml/application.groovy by setting `quartz.autoStartup` to `false`
* Inject the `quartzScheduler` bean into `BootStrap.groovy` and inside the `init` closure run `quartzScheduler.start()` or `quartzScheduler.startDelayed()`.

We delay the quartz scheduler for other reasons but as far as I

[2018-03-16 05:35] rkrause88 commented on #122
@edwardotis
it's working with the latest liquibase-core version
`compile 'org.liquibase:liquibase-core:3.5.5'`

[2018-03-26 12:06] koji-k commented on #115
Hi
Liquibase project works again.
https://github.com/liquibase/liquibase/releases
There 2 Updates from 3.5.3.(so latest version is 3.5.5)

I wrote a ISSUE on Jira of Liquibase  last year. https://liquibase.jira.com/browse/CORE-2986)
My issue is not yet resolved maybe.
But there are many Bugfix from Liquibase 3.5.3.
Does grails-database-migration plugin update Liquibase version?

[2018-03-28 03:15] kevinclcn commented on #141
Hi @graemerocher @jameskleeh,

Have you been aware of this?

[2018-03-28 03:18] jameskleeh commented on #141
@kevinclcn Have you tried version 3.0.3 of the plugin? As far as I can tell it's fixed there

[2018-03-28 05:38] kevinclcn commented on #141
hi @jameskleeh , I created a demo for this issue: https://github.com/kevinclcn/dbmigrationIssue

clone it and run `./gradlew dbmUpdate`, it would complain:
[code]

But once I commented out the second datasource(the app datasource in application.yml), the migration works fine.

I problem I found is in the method DatebaseMigrationCommand::getDataSourceConfig(), see the pr:

https://github.com/grails

[2018-04-19 15:47] longwa commented on #141
We are having the same issue, the application starts up and runs migrations ok but commands like `dbm-gorm-diff` fail if you don't have a `dataSource` inside the `dataSources` block still.

[2018-04-26 00:04] fredgalvao opened #143 "ServletContext is not really what is should be during dbm scripts"
*Heads Up*: there's a chance this is actually a grails issue, as it is reproducible with `grails console` too. I wanted to make sure here first, as it's the main scenario I have.

Consider:
- grails-database-migration = GDM
- any script from grails-database-migration (I tested with `dbm-gorm-diff`): DMS
- main application = MA
- some plugin used by main application = PLUGIN

### Task List

- [ ] S

[2018-04-26 00:05] fredgalvao commented on #143
Relates to https://github.com/grails-plugins/grails-database-migration/issues/125

[2018-04-26 00:05] fredgalvao commented on #143
Maybe relates to https://github.com/grails-plugins/grails-database-migration/issues/141

[2018-04-26 00:12] jameskleeh commented on #143
Upload an example project that reproduces the issue. I don't think the two issues you linked to are related to anything with the servlet class

[2018-04-26 00:15] fredgalvao commented on #143
The stacktrace on #125 is exactly the same, that made me think they were related. I supposed the grails version support could relate because this seems like the execution context for the scripts on this plugin doesn't match 100% of what's needed from grails (similar to what unit tests do).

[2018-04-26 00:43] fredgalvao commented on #143
Updated the main post with the `Example Application` section. Minimal changes to the pure grails shell, and results are exactly the same.

[2018-04-30 12:49] fsobanski commented on #103
I've got the same problem as mike-strauch since I have upgraded to Grails 3.3.4. With Grails 3.2.0, I got log output about the `change log lock` and about all the migrations that got executed. After the upgrade there is only that one line from liquibase.

@mike-strauch Have you been able to solve that problem in your case?

[2018-05-15 10:12] Giacom commented on #133
Same problem here. Has anyone had any workarounds?

[2018-07-12 22:06] Relaximus opened #144 "grailsChange is not a new transaction"
Example:

[code]

We had such configuration in our project the problem here is that the first changeSet is marked as executed after first failing run, but the actual change was rolled back.
We fixed this explicitly opening newTransaction, like this:

[code]

Taking into account the liquibase [approach](http://www.liquibase.org/documentation/changeset.html) to the changeSets:

I think, it is better

[2018-08-02 05:56] swzaidi opened #145 "getting java.lang.NoClassDefFoundError on running grails dbm-update"
Hi! ,

I have a grails 3.3.6 setup and trying to run dbm-update for liquibase migration. In doing so i am getting the following exception...

[code]

[2018-08-16 08:50] Giacom commented on #133
The only 'work-around' I have found is to use dbmUpdate, or other commands, using gradle.

Example:

[code]

[2018-08-17 00:27] matthew-long opened #146 "Request: Support Liquibase 3.6.0+"
Liquibase 3.6.0 fixed an issue that stopped generation of diffs against SQL Server DB's with a case sensitive collation.

I'd like to take advantage of that fix with the database migration plugin.

I tried using liquibase 3.6.0 with this plugin but got an error as there's been some significant changes.

[2018-08-18 20:35] puneetbehl commented on #146
This plugin depends on `liquibase-hibernate`. However, that need to published first to support Liquibase 3.6.

Following is the issue describing the incompatibility:
https://github.com/liquibase/liquibase-hibernate/issues/179

[2018-08-20 14:19] #141 closed

[2018-08-21 06:03] puneetbehl commented on #145
Try `./gradlew dbmUpdate`.

[2018-08-21 06:09] puneetbehl commented on #145
I am able to run both `./gradlew dbmUpdate` and `./grailsw dbm-update`. Please try with the below application.
[myapp.zip](https://github.com/grails-plugins/grails-database-migration/files/2305017/myapp.zip)

*NOTE:* Update Mysql credentials in `application.yml`.

[2018-08-21 09:56] puneetbehl commented on #139
@acanby It is not supported.

[2018-08-21 11:28] puneetbehl commented on #124
I believe this is not a bug and happening because of `hasOne`, see:
https://github.com/grails/gorm-hibernate5/blob/master/grails-datastore-gorm-hibernate5/src/main/groovy/org/grails/orm/hibernate/cfg/GrailsDomainBinder.java?utf8=%E2%9C%93#L2931

[2018-08-22 15:48] jasenj1 opened #148 "Command 'dbm-previous-changeset-sql' does not exist."
http://grails-plugins.github.io/grails-database-migration/latest/index.html#ref-update-scripts-dbm-previous-changeset-sql

$ grails dbm-previous-changeset-sql 20
| Error Command not found dbm-previous-changeset-sql

Using Grails 3.3.6, database-migration plugin 3.0.3

Looking through the [source code](https://github.com/grails-plugins/grails-database-migration/tree/master/grails-app/commands/org/g

[2018-08-23 14:40] mangelo123 opened #149 "grails dbm-generate-changelog changelog.groovy throws an exception and never finished"
These messages are produced:

INFO 8/23/18 10:25 AM: liquibase: Can not use class org.grails.plugins.databasemigration.liquibase.GormDatabase as a Liquibase service because
it does not have a no-argument constructor
Exception: java.lang.NumberFormatException thrown from the UncaughtExceptionHandler in thread "main"

and this never finishes.

[2018-08-23 15:51] jameskleeh commented on #149
@mangelo123 This is likely specific to your environment. We need steps to reproduce to be able to do anything about it

[2018-08-23 15:59] mangelo123 commented on #149
Grails version 3.3.3
Oracle Driver: 'com.oracle:ojdbc6:11.2.0.4.0'
Oracle version: 11g (11.2.0.4.0)

This application has been up for at least 2 years. Prior to Liquibase, the db migration plugin worked perfectly. I cannot get passed the first step:

`grails dbm-generate-changelog changelog.groovy`

I get the errors explained above and never get back to a prompt.

[2018-08-23 16:04] jameskleeh commented on #149
@mangelo123 Unfortunately that isn't enough information to reproduce the issue. We would need a stacktrace that shows where the error is thrown from or the database you are running the command against.

Can you try running the command with the stacktrace flag? `--stacktrace`

[2018-08-23 16:14] mangelo123 commented on #149
Unfortunately, adding --stacktrace does not produce anymore information:

`grails  dbm-generate-changelog changelog.groovy --stacktrace`

produces:

[code]

[2018-08-23 16:16] jameskleeh commented on #149
@mangelo123 Likely the best course of action is to debug the constructor of `NumberFormatException` and inspect the stacktrace

[2018-08-23 16:48] #144 closed

[2018-08-23 17:01] mangelo123 commented on #149
I cannot even run dbm-status without getting the same errors. How am I able to debug the constructor of NumberFormatException? Is there a command line option that I can have the process enter debug mode? I've tried --debug-jvm, but this has no affect.

[2018-08-23 19:12] jameskleeh commented on #149
@mangelo123  If you're using IntelliJ the easiest way is to debug the gradle task.

[2018-08-23 19:47] mangelo123 commented on #149
I have created a brand new project with only 2 domain classes pointing to the same Oracle DB. The migration is working, however, I am getting this strangeness. Anytime that I do a dbm-gorm-diff, it keeps generating this block at the end:

[code]

I have to remove it from the chantgelog file or it fails when I to a dbm-update.

[2018-08-23 21:06] mangelo123 commented on #149
I tried clearing out all domain classes and started out with an empty database again. I copied all of the domain classes over from my main project. Aside from the unique constraint names being too long for most cases, the database was created successfully.

Where else could I possibly look for this NumberFormatException?

[2018-08-24 14:04] #148 closed

[2018-08-24 14:13] puneetbehl commented on #139
For now, I have updated the documentation but we will check if this functionality can be re-introduced.

[2018-08-24 14:53] mangelo123 commented on #149
I have created an empty project. No domain classes. A few extra entries in build.gradle and I am still getting the NumberFormatException error. This is pointing to a derby db as the default create-app initially sets up.  Please try gradlew clean and then grails dbm-generate-changelog changelog.groovy and see if you get the error

https://github.com/mangelo123/blank.git

[2018-08-24 15:01] puneetbehl commented on #115
@koji-k `v3.0.4` of the plugin will be using liquibase 3.5.5

[2018-08-24 15:36] mangelo123 commented on #149
And in another development, I tried this with the original project on a Linux server and it ran correctly the first time. This is an odd one for sure.

[2018-08-26 17:43] ppazos commented on #136
@jameskleeh should I report this again since I posted the dependencies of liquibase referencing h2 but got no feedback.

[2018-08-27 09:28] puneetbehl commented on #131
I am not able to understand the problem. Can you please attach an example that reproduces the issue.

[2018-08-31 13:47] Giacom commented on #133
I discovered an even better workaround if you can edit the inline project.

If you add this to your inline project's build.gradle:

[code]

It will override the tasks and allow you to perform the normal commands on your root project.

[2018-09-24 15:40] koji-k commented on #115
@puneetbehl Thanks! i will try it!

[2018-09-25 15:05] ioannisGiak89 opened #150 "Plugin ignores schema"
### Steps to Reproduce

1. Configure an app to use default schema
[code]
1. Create a new domain class and specify different schema (than the default) in the table mapping property
[code]
2. Then run
[code]
### Expected Behaviour

The plugin shouldn't create migrations for the new domain class

### Actual Behaviour

The plugin generates migrations for the new domain class

### Environment Informati

[2018-10-08 22:07] verglor commented on #131
I believe the problem is that private key name uses table name truncated to 13 chars + 'PK'.
Now if there are two or more tables that has its first 13 chars the same - the collision happens.
In @bmpooja's example tables `tenant_network_contact` and `tenant_network_member` share the same prefix `tenant_networ` creating primary key name `tenant_networPK` for both which is wrong.

[2018-10-08 22:54] verglor commented on #131
See liquibase-hibernate#56 (https://github.com/liquibase/liquibase-hibernate/issues/56)

[2018-11-14 15:38] jameskhedley opened #151 "Command execution error: Bean named 'sessionFactory' is expected to be of type 'org.springframework.beans.factory.FactoryBean' but was actually of type 'org.hibernate.internal.SessionFactoryImpl'"
Appears to be the same as #81 but with grails 3.3.8, plugin 2.0.0, hibernate4, gorm version 6.1.8.

Shouldn't that combination work?

### Steps to Reproduce

1. `grails dbm-gorm-diff`

### Expected Behaviour

Diff produced

### Actual Behaviour

`Command execution error: Bean named 'sessionFactory' is expected to be of type 'org.springframework.beans.factory.FactoryBean' but was actually of type '

[2018-11-14 15:41] jameskleeh commented on #151
Please upload an example project

[2018-11-14 16:22] jameskhedley commented on #151
https://github.com/jameskhedley/test151

It's just a fresh app `$ grails create-app test151 --profile=web`, then change the dependencies for hibernate5 to hibernate4, then add the plugin, then a single domain class.

[2018-11-14 17:10] jameskhedley commented on #151
Adding specific liquibase doesn't help either, as per docs:

`compile 'org.liquibase:liquibase-core:3.5.3'`

[2018-11-30 11:48] robertoschwald commented on #151
Surely plugin version 2.0.0? Current is 3.0.4

[2018-11-30 14:11] jameskhedley commented on #151
@robertoschwald yes it says plugin version 2.0.0, which is the version that is supposed to work with hibernate4? As per https://github.com/grails-plugins/grails-database-migration#versions

As far as I can see, plugin v1.4 works ok with grails 2.x and hibernate3 (and hibernate4 i think) but plugin v2.0.0 doesn't work with grails 3.x and hibernate4... like at all.

[2018-11-30 15:39] robertoschwald commented on #151
Not sure if 2.0.0 works with Grails 3.3.x. Can you try Hibernate 5 and 3.0.4?

[2018-11-30 17:42] jameskhedley commented on #151
Using grails 3.3.8, hibernate5 and plugin v3.0.3 fails with a different error (see below).

Is there a version of grails 3.x that you would expect to work with 2.0.0 and hibernate 4? Not sure what the point of that branch is otherwise.

[code]

[2018-11-30 18:02] robertoschwald commented on #151
The error you see in 3.0.3 was fixed in 3.0.4. You need to use this version.

[2018-11-30 20:06] jameskhedley commented on #151
Good spot and thanks for help so far.

Actually i tried it with 3.0.4 and got the same error - but only with `dbm-status` - `dbm-gorm-diff` worked! I think dbm-status may be broken? Error message was:

`Command execution error: java.lang.IllegalArgumentException: Script text to compile cannot be null!`

Also I was thrown off by the "no-argument" non-error.

I still think 2.0.0 is broken unless som

[2018-12-04 18:10] robertoschwald opened #152 "migrationCallbacks run every time, not only when outstanding migrations are detected"
in 1.x, migrationCallbacks.beforeStartMigration was triggered only when outstanding migrations were detected.
Now it runs every time.

This means e.g. automatic db backup using a callback bean is not possible anymore (or needs back-porting of the old behaviour into the callback bean).

See here how it behaved before:

https://github.com/grails-plugins/grails-database-migration/blob/33a93c7012caa15

[2018-12-11 08:46] nikomakela commented on #124
The same occurs when multiple hasMany-properties are linked to a same domain.

Domain:
[code]

Changelog:
[code]

I have converted a Grails 2 application to a Grails 3 application. In Grails 2, a table with same kind of structure was created, but it had allow null set to true. Now with Grails 3 and newest database-migration plugin (3.0.4), all the columns are mandatory.

[2018-12-11 08:58] nikomakela commented on #124
Actually, it seems like there is a bug in gorm-hibernate5: https://github.com/grails/gorm-hibernate5/blob/master/grails-datastore-gorm-hibernate5/src/main/groovy/org/grails/orm/hibernate/cfg/GrailsDomainBinder.java?utf8=%E2%9C%93#L2954-L2956. All the manyToMany fields are always set to nullable=false, which was not the case in older GORM.

[2019-01-25 12:35] cgoIT commented on #104
I know that this issue was closed a long time ago, but i'm lost in getting dbm-gorm-diff running. Could you please give me some advice how to do it?

Thanks.

[2019-02-25 23:16] longwa opened #153 "[grails4] ClassNotFoundException on startup"
Grails 4.0.0.M1

Spring Boot 2.x moved (or maybe removed) the CommonsLoggingLiquibaseLogger class.

The plugin imports this class:
https://github.com/grails-plugins/grails-database-migration/blob/2e5fca6c62407f652d60c209c23305735171a818/src/main/groovy/org/grails/plugins/databasemigration/DatabaseMigrationGrailsPlugin.groovy#L25

Which causes a startup failure:
[code]

[2019-03-05 00:43] MitchJust commented on #153
FWIW the plugin seems to function correctly once this issue is bypassed.

I added an empty impl of CommonsLoggingLiquibaseLogger to my codebase, eg.

[code]

and all the changesets seem to have applied correctly, with the obvious caveat being that the log output is very verbose.

[2019-04-10 09:33] drennane opened #154 "[Grails 4] Database Migration plugin issue"
Since upgrading to Grails 4, the migration scripts do not appear to be getting loaded from where they are configured. This results in the following error;

Up to now, I had only specified the location on gradle config;

[code]
I have since added the additional config provided by the plugin but to no avail;

`grails.plugin.databasemigration.changelogLocation = 'grails-app/migrations'`

Through debu

[2019-04-11 11:43] swEngineer4ever commented on #153
@MitchJust @longwa

I got the same error and did the workaround suggexted by MitchJust but am getting this new error :/

[code]
Any clue why or did you find a better solution?

[2019-04-11 12:22] swEngineer4ever opened #155 "[Grails 4] Database Migration plugin issue: AbstractMethodError - org.grails.plugins.databasemigration.liquibase.GroovyPrecondition"
Grails 4.0.0.M2
JDK Version: Java 11

The following error occurs when starting DB migration:
[code]
It seems that the check method in the Precondition interface is different in the new org.liquibase:liquibase-core! There's a new parameter (ChangeExecListener changeExecListener).

[2019-04-22 18:30] joemccall86 commented on #154
Appears in Grails 4.0.0.RC1 on Java 8 as well. It would appear that the `ClassLoaderResourceAccessor` is not picking up the additional directory on the classpath when it builds its `rootStrings` value.

[2019-04-25 20:17] tekells-usgs commented on #122
It doesn't work with
`defaultValue: false`

It works with with strings, numbers, and
`defaultValue: true`

[2019-04-29 13:54] joemccall86 commented on #154
This may be related: I have `@PropertySource` on my application that references a file in the classpath, and Grails 4/Spring Boot 2 fails to find that file after the upgrade. I think this is due to an underlying change in how Spring Boot 2 handles resources on the classpath.

[2019-05-13 20:50] smakela opened #156 "Incorrect changelog created for self referencing domain"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run example application

### Expected Behaviour

Link table should have two columns instead of one

### Actual Behaviour

Link table is created with only one column a

[2019-05-15 14:41] niravassar commented on #153
I am seeing the same thing, but cannot get the scripts to run with `updateOnStart: true`. Did you have success with `dbm-update`?

[2019-05-15 22:03] niravassar commented on #153
This class is not needed and is deprecated in spring boot 2.0. This fix will go out in the new release of the plugin.

[2019-05-15 22:03] #153 closed

[2019-05-16 15:23] niravassar commented on #153
on dbm-update, in windows it needs a grails { pathingJar = true } config to work. This is a workaround, we are working to fix it.

[2019-05-20 15:24] vdusa opened #157 "SessionFactory bean has another name as expected"
When multiple data sources are used, then dbm-gorm-diff, dbm-generate-changelog, etc. fail for the non default data sources:

For example:
We have default data source and 'another' data source in our application.yml

Running:
`dbm-gorm-diff --dataSource=another`
Fails with:
`No bean named 'sessionFactory_dataSource_another' available`

**Cause:**
No bean named **sessionFactory_dataSource_another**

[2019-05-21 20:57] niravassar commented on #154
@drennane I have created sample project at https://github.com/niravassar/grails-dbmigration-four. We are working on changes to the plugin to release for Grails 4 RC2. I was able to run the changelog from the 'grails-app/migrations' directory.

Can you please upload a sample project? I will try and reproduce the issue there.

Alternatively, you can look at the 4.0.0.BUILD-SNAPSHOT of this code and

[2019-05-22 15:47] niravassar commented on #145
I tried the app here on 3.3.6, and also on another sample app. It also works on 4.0.0.BUILD-SNAPSHOT. I am closing this, if some other issue arises concerning this please let us know.

[2019-05-22 15:47] #145 closed

[2019-05-22 15:49] #154 closed

[2019-05-22 18:15] niravassar commented on #146
This is now done due to checkin https://github.com/grails-plugins/grails-database-migration/commit/4320ebd18b0cebfbf605ef20649439e6121d9171

[2019-05-22 18:15] #146 closed

[2019-05-23 18:29] niravassar commented on #155
The plugin is not developed for Java 11 as of yet.

Liquibase just released a version 3.6.3 that is supposed to be compatible with Java. I tried to make it work with the plugin, but I believe there are some internal liquibase fixes that are still needed, along with the plugin to be upgraded to grails 4.0.

Please see this for more information:

https://liquibase.jira.com/browse/CORE-3362
https://g

[2019-05-23 18:29] #155 closed

[2019-05-23 19:21] jameskleeh commented on #155
The issue doesn't have anything to do with Java 11 and is resolved with the 3.1.0.RC1 release

[2019-05-23 19:22] jameskleeh commented on #154
@joemccall86 @drennane The additional source set declaration in the build.gradle file must be above the dependencies section

[2019-05-23 19:23] jameskleeh commented on #153
This is resolved with the 3.1.0.RC1 release

[2019-05-28 11:29] drennane commented on #154
Upgraded to latest in project above and moved the source set declaration as per @jameskleeh and I can confirm that it's all working now.
Much appreciated.

[2019-05-28 19:17] niravassar commented on #156
I tried reproducing this issue and was successful, both with Grails 4, grails 3.3.9 and also with the newest database-migration plugin `3.1.0.RC1`. Also tried to force the latest versions of liquibase-libraries. The error occurs in every case.

I briefly looked into trying to debug the issue and i think the problem starts in  `DiffCommand` of `liquibase-core:3.6.1`. I did not get to the point of e

[2019-05-28 19:17] #156 closed

[2019-05-31 13:09] smakela commented on #156
@niravassar Did you report bug or should I do it.

[2019-05-31 13:46] niravassar commented on #156
Thanks. No I did not. Please file a bug.

[2019-06-25 12:41] drennane opened #159 "[Grails 4] Cannot run diff script (dbm-gorm-diff) against updated domain classes"
I cannot run the diff script that compares the GORM classes against the existing database and creates an additional changelog that reflects the updates.
Everything up to this point works ok such as creating the first changelog and then synching the database

### Steps to Reproduce

1. Create new project and include database migration plugin
2. Add domain class with some fields
3. Generate changelo

[2019-06-25 14:00] niravassar commented on #159
I moved this guide to grails 4 on a branc,. and i believe it has execution of  dbmGormGiff. It was done on Java 8.

I have not looked into this bug in detail but i came upon it and thought you could compare your code to this one, as i found it to work.

https://github.com/grails-guides/grails-database-migration/tree/grails-4

[2019-06-25 15:35] drennane commented on #159
Thank you @niravassar , I will check it out and revert.

[2019-06-25 16:05] drennane commented on #159
@niravassar
* Downloaded the project and ran it
* added new `telephone` field to the Person domain object.
* ran
`grails dbm-gorm-diff add-telephone-field-to-person.groovy --add --stacktrace`

I got the same error using both Java 8 and Java 11.

[2019-07-11 04:53] snimavat opened #160 "dbm-generate-gorm-changelog fails with error"
Grails version 3.3.10.
Plugin version 3.1.0.RC1
Grails /gradle installed using sdkman

It is a multimodule gradle app.
The task is run on main app.

The changelog.groovy is generated though, but error is thrown at the end when it tries to run the command on other gradle modules.

Caused by: org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':crudify:dbmGenerateGormChangelog'.

[2019-07-11 07:53] snimavat commented on #160
Almost all command throws error when it tries to run on submodules.
Is there a way to prevent it ?

With gradle i can target a single module, how do we do it here

[2019-07-12 12:14] snimavat commented on #160
Any one coming here for solution. This is what worked for me

Run the command as gradle task, and target a single project

```gradle :runCommand -Pargs="dbm-update"```

@jameskleeh is there any other grails specific solution ?

[2019-07-12 21:06] AntonPanikov commented on #157
+1 the same issue
[ApplicationContextDatabaseMigrationCommand.groovy](https://github.com/grails-plugins/grails-database-migration/blob/master/src/main/groovy/org/grails/plugins/databasemigration/command/ApplicationContextDatabaseMigrationCommand.groovy)

in both versions 3.0.4 and 3.1.0 is looking for session factory by concatinating "sessionFactory" and datasource bean name, not a datasource name

[2019-08-29 10:53] animator013 commented on #159
I have the same problem.

[2019-09-11 13:40] virtualdogbert opened #162 "Grails 4 Error adding system properties to dbmUpdate"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. in build.gradle add the following:
[code]
This adds access to the system properties to each of those tasks.

### Expected Behaviour

There should be no errors when re

[2019-09-23 21:01] virtualdogbert commented on #162
So trying to get this running on staging and I realized why I need the system properties available for dbmUpdate, it has to do with how we deal with the external config. We are using the external config plugin and we set one of the candidates to a system property.

[2019-10-24 09:09] robertoschwald opened #163 "Support for afterColumn attribute in addColumn"
Liquibase since 3.3.0 supports afterColumn to define the position of new columns.
It would be great if this can be reflected in the plugin gdsl as well

http://www.liquibase.org/documentation/column.html

Liquibase also supports "beforeColumn", but that is not supported by all databases. E.g. MySQL does not support beforeColumn, therefore I would omit it.

[2019-10-31 03:25] Iamz commented on #159
I was facing the same issue but was able to solve the problem by pinning the `liquibase-core` version
[code]

[2019-10-31 07:05] zyro23 commented on #157
just hit this one as well. pull-request targeting `3.0.x` coming up.

[2019-10-31 09:06] ascu commented on #159
Updating the liquibase-core version solved it for me as well (I was previously using 3.5.5).

[2019-11-11 20:59] zyro23 opened #165 "provide an alternative name for the --dataSource argument"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. try to run a `dbmGormDiff` via gradle with `-Pargs=--dataSource=mySecondDs`
2. see stacktrace

### Expected Behaviour

no exception

### Actual Behaviour

* the `--da

[2019-11-18 04:19] alphaadidas commented on #131
For Grails 2.4.5 / plugin 1.4.1 ..  You can intercept the configuration setup.
Like : http://burtbeckwith.com/blog/?p=465

For the primaryKey.. i did :
`import org.codehaus.groovy.grails.orm.hibernate.cfg.GrailsAnnotationConfiguration
import org.hibernate.MappingException
import org.hibernate.mapping.PersistentClass
import org.hibernate.mapping.PrimaryKey
import org.hibernate.mapping.RootClass

im

[2020-03-02 04:50] nobeans opened #167 "NoSuchBeanDefinitionException for transactionManager bean occurs when using additional dataSource in 3.1.0.RC1"
### Task List

- [*] Steps to reproduce provided
- [*] Stacktrace (if present) provided
- [*] Example that reproduces the problem uploaded to Github
- [*] Full description of the issue provided (see below)

### Steps to Reproduce

1. Define an additional `dataSources` in application.yml as follows:

[code]

2. Use the dataSource for `grails.plugin.databasemigration`.

[code]

3. Run grails applica

[2020-03-02 04:53] nobeans commented on #167
The implementation of [GroovyChange](https://github.com/grails-plugins/grails-database-migration/blob/master/src/main/groovy/org/grails/plugins/databasemigration/liquibase/GroovyChange.groovy#L93) seems wrong.

GORM set up beans for each dataSource as follows.

- for the default dataSource:
    - `dataSource`
    - `transactionManager`
- for the additional dataSource named `liquibase`:
    - `data

[2020-03-03 02:03] nobeans commented on #167
#157 seems same issue though it's about sessionFactory. The PR #168 can address the both issue foundamentally.

[2020-03-08 21:50] Itaqua commented on #162
Hey @virtualdogbert I found a work around (not sure if it's thje best solution) but I just removed the by task configuration in the **build.gradle** and changed to:

[code]

[2020-03-09 02:40] virtualdogbert commented on #162
I didn't realize we worked around it that way. I think we found that we didn't actually need the properties as they were only used for really old migrations, which we had culled from the list anyway.

In either case thanks for posting, just in case anyone else runs into this issue this would be a valid workaround.

[2020-03-09 02:40] #162 closed

[2020-03-31 23:08] acanby opened #169 "Unable to load classpath resources for sqlFile changesets"
I'm trying to integrate Spring Batch into my Grails application. The Spring Batch jar supplies per dbms schemas for the required tables, and I have been trying to add this via dbm/liquibase. It seems like something that liquibase supports, and I have seen [examples](https://stackoverflow.com/a/58854924/1554635) for vanilla Spring Boot/Liquibase that seem to work.

I have a changelog as follows:
[c

[2020-04-13 14:56] demon101 commented on #159
Me too

[2020-04-17 17:42] niravassar commented on #159
the new guide has this as s fix.

[2020-05-07 20:34] virtualdogbert opened #172 "MD5SUM the same for all Grails Changes"
### Task List

- [ x ] Steps to reproduce provided
- [ x ] Stacktrace (if present) provided
- [ x ] Full description of the issue provided (see below)
- [ x ] Link to the code that is causing this

### Steps to Reproduce

1.Run a migration script with with multiple grails changes
2. Look at the DB change log:
```SELECT * FROM tdstm.DATABASECHANGELOG where DESCRIPTION='Grails Change'  order by ORDE

[2020-05-18 20:52] eoindre opened #173 "Errors using the migration plugin with inline plugin"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create `dbmigration` database in mysql
2. Navigate to root app project (database-migration-example)
3. run the migration changelog script
`grails dbm-generate-gorm-ch

[2020-06-04 17:51] wuwu2000 opened #174 "What happened to Grails 4 compatibility?"
Bonjour!

I am curious, in your readme Grails 3 and 2 is listed as compatible. Since Grails 4 use Spring boot 2 and there is no org.springframework.boot.liquibase.CommonsLoggingLiquibaseLogger I am looking for a grails 4 compatible grails-database-migration.

I found some traces that something may have worked sometimes but I can't find absolutly no documentation about migrating to grails 4.

Could

[2020-06-05 22:56] niravassar commented on #174
It is compatible. Please see the guide with the example:
https://guides.grails.org/grails-database-migration/guide/index.html

[2020-06-05 22:56] #174 closed

[2020-07-14 15:34] #95 closed

[2020-07-14 15:37] bobbywarner commented on #159
Fixed by https://github.com/grails-plugins/grails-database-migration/pull/175

[2020-07-14 15:37] #159 closed

[2020-07-14 15:37] bobbywarner commented on #100
Fixed by https://github.com/grails-plugins/grails-database-migration/pull/175

[2020-07-14 15:37] #100 closed

[2020-07-14 15:40] bobbywarner commented on #172
@virtualdogbert I am not able to replicate this.  All the `md5sum` values are different as expected for me.

[2020-07-14 18:14] virtualdogbert commented on #172
Are those md5sums for SQL change or Grails changes, because the md5 for all the grails changes I have are all the same... Actually,  if I go back in time some of the MD5SUMs for grails changes are null.
![Screen Shot 2020-07-14 at 2 12 07 PM](https://user-images.githubusercontent.com/163506/87461265-2efc8700-c5dc-11ea-962e-f1cfff28999d.png)

[2020-07-15 00:00] mattlong-finocomp opened #177 "Support Liquibase 4.0.0"
Liquibase 4.0.0 has been released

There's been some significant API changes which don't work with this plugin.

Could we get a new version of this plugin that supports Liquibase 4.x

[2020-07-17 11:58] vsachinv commented on #75
I am also facing hibernate session closed issue even with withNewSession closure in Grails 3.3.9 and with Java8 in liquibase grails change script.
`org.springframework.orm.hibernate5.HibernateSystemException: Session is closed!; nested exception is org.hibernate.SessionException: Session is closed!
	at org.springframework.orm.hibernate5.SessionFactoryUtils.convertHibernateAccessException(SessionFa

[2020-07-17 13:48] vsachinv commented on #75
We have found issue. It was due to closing session explicitly withNewSession like
`grailsChange {
            change {
                WorkflowState.withNewSession { session ->
                   WorkflowState.list()
                    session.flush()
                    session.clear()
                    session.close()
                }
            }
        }`

I guess, In Grails3, there is a

[2020-07-21 16:21] bobbywarner commented on #163
Resolved with https://github.com/grails-plugins/grails-database-migration/pull/178

[2020-07-21 16:21] #163 closed

[2020-07-23 09:33] demus-nine commented on #167
A workaround is to alias the incorrect names to the correct names in spring/resources.groovy.

[2020-11-09 19:45] virtualdogbert commented on #172
@bobbywarner  just coming back to this wondering are you setting the checksum in all of your migrations?
in the docs it says:
[code]
But the code does this
[code]
So if you're not setting it manually, the check some become "Grails Change" for all Grails migrations, rendering the checksum essential useless for Grails changes.

[2020-11-18 00:12] jchharris commented on #88
I have the same usecase where I have a number of inhouse plugins that contribute domain objects. It is desirable for the migration code to be owned by the plugins and be maintained as part of their release cycle.  From an application perspective I would like to control via config which plugins are checked for migrations and in which order they are run.  By order, I just mean simply running all mig

[2020-11-20 08:04] abcfy2 opened #184 "dbm-gorm-diff and dbm-generate-gorm-changelog lost table comments"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

Here is a domain class sample:

[code]

`grails dbm-gorm-diff` and `grails dbm-generate-gorm-changelog` will lost the `comment` property.

Like this:

[code]

But `grail

[2020-11-23 07:34] abcfy2 commented on #184
Confirmed, this is an upstream issue: https://github.com/liquibase/liquibase-hibernate/issues/278

[2020-12-01 03:30] andrewcanby-finocomp commented on #169
Any thoughts on this one @puneetbehl?

[2020-12-10 02:09] abcfy2 opened #185 "Why dbm-gorm-diff add unused setTableRemarks and recreate index ?"
If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/grails) or Slack (http://slack-signup.grails.org). DO NOT use the issue tracker to ask questions.

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Githu

[2020-12-12 01:20] sudewa commented on #185
I also had the same issue where I get unnecessary dropIndex and create index.

Database is MySSQL.
plugin : database-migration:3.1.0.RC1

[2020-12-19 15:58] robertoschwald commented on #185
This is a Liquibase problem which was fixed recently with version 3.10.1.
You can add   `compile 'org.liquibase:liquibase-core:3.10.1'` to build.gradle dependencies for now to upgrade Liquibase until this plugin was upgraded.

[2020-12-19 16:00] abcfy2 commented on #185
OK. Thanks.

[2021-01-18 17:47] cgray9 commented on #122
It seems like `defaultValue` mapping doesn't work with falsy values like `false` and `0`. I'm using `compile 'org.liquibase:liquibase-core:3.10.1'`

[2021-04-28 11:36] abcfy2 opened #187 "dbm-generate-gorm-changelog does not recognize sqlType property"
If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/grails) or Slack (http://slack-signup.grails.org). DO NOT use the issue tracker to ask questions.

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Githu

[2021-08-21 14:09] robertoschwald opened #191 "Grails 5.0.0rc1 dependency issues"
### Steps to Reproduce

1. Add the plugin to a Grails 5.0.0rc1 application
2. Call any of the dbm scripts

### Expected Behaviour
Dependencies can be resolved, it works.

Tell us what should happen
Lots of dependency issues for all dependencies needed to perform the dbm tasks.

### Actual Behaviour
Needed dependencies can not be resolved.

Tell us what happens instead
It seems the change to the im

[2021-08-25 05:11] renovate[bot] opened #194 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all co

[2021-09-11 17:47] xavs commented on #104
Same here, the plugin is broken for grails 4.

[2021-09-17 08:24] snimavat commented on #159
Can not get it to work with grails 4.

[code]

[code]

[2021-09-17 08:38] snimavat opened #203 "dbm-gorm-diff fails (Grails4/Gradle 5.6.4 and plugin version 3.1.0)"
### Env

------------------------------------------------------------
Gradle 5.6.4
------------------------------------------------------------
Groovy:       2.5.4
JVM:          1.8.0_272 (Azul Systems, Inc. 25.272-b17) (ZULU)
OS:           Mac OS X 10.16 x86_64

| Grails Version: 4.1.0.M5
| JVM Version: 1.8.0_272

[code]

[code]

Error

[code]

[2021-09-17 08:46] snimavat commented on #203
Docs too are outdates, new versions released but docs still points to older versions - https://grails-plugins.github.io/grails-database-migration/3.0.x/index.html#gettingStarted

[2021-09-17 08:50] snimavat commented on #203
The plugin should have test-apps in repo for each supported grails/gradle versions

[2021-09-17 18:09] puneetbehl commented on #159
@snimavat This seems to be fixed and closed already. So this should not be a problem any longer.

I would expect the documentation to provide simple step to use this plugin. Otherwise, we need to update documentation. Grails framework and Grails plugin ecosystem is community driven.

Here is a guide to use the Database Migration plugin with Grails 4. https://guides.grails.org/grails-database-migra

[2021-09-17 18:18] puneetbehl commented on #203
Please use Grails 5.0.0-RC3 instead of 4.1.0.M5. I am currently working on a problem related to Grails 5 which might fix this as well.

[2021-10-01 08:45] xavs opened #204 "EnversService#initialize should be called only once"
If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/grails) or Slack (http://slack-signup.grails.org). DO NOT use the issue tracker to ask questions.

### Task List

- [ x] Steps to reproduce provided
- [ x] Stacktrace (if present) provided
- [ x] Example that reproduces the problem uploaded to Gi

[2021-10-10 16:36] renovate[bot] opened #205 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate/org.codehaus.groovy-groovy-all-2.x`
Error type: Force push denied
Message: `Renovate is unable to update branch(es) due to force pushes being disallowed.`

[2021-11-10 05:33] #205 closed

[2021-11-12 06:45] mattlong-finocomp commented on #177
@puneetbehl I've seen a bit of activity in this repo in the past few days. Is this issue on the roadmap?
I've been looking into upgrading an existing Grails application to 5.0.1 and noticed that the Micronaut BOM wants to bring in Liquibase 4.4.3 and Spring Boot is pinning it to 4.3.5 via its managed dependencies.
For now as a workaround I've set liquibase.version to 3.10.3 in gradle.properties bu

[2021-11-12 07:33] puneetbehl commented on #177
Yes, that is in the roadmap.

[2021-11-19 18:05] #177 closed

[2021-11-27 10:52] sbglasius opened #229 "4.0.0-RC1 missing dependencies"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Create a new Grails 5.0.1 project
[code]

Insert :
[code]
into
[code]
Refresh project in Idea or run any gradle task

### Expected Behaviour

A refresh or gradle task wi

[2021-11-27 10:58] sbglasius commented on #229
If I add these dependencies to `buildscript`  it works:
[code]
But it seems wrong to do so

[2021-11-27 11:25] sbglasius commented on #229
Also, the list of commands is less than expected:

run `grails` in the application, write `dbm-` and press TAB and only these commands are shown:
[code]

[2021-12-01 18:35] hhovhannisyan commented on #229
Do we have any estimations, when we are expecting here solution and support for Grails 5?

[2021-12-06 18:12] #229 closed

[2021-12-11 13:49] sbglasius opened #246 "Missing several commands"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create application with Grails 5.0.2
2. Add database-migration per documentation
3. Run grails (to start console)
4. write `dbm-` and press `TAB`

### Expected Behavi

[2021-12-13 16:05] #246 closed

[2021-12-19 23:26] robertsantiago opened #253 "dbm-generate-gorm-changelog and dbm-generate-changelog both fail to generate the correct byte array MySQL type"
I have a Grails application and using the database migration plugin (DBM) it fails to generate the correct MySQL type for byte arrays.

I have the following domain field with constraints and mapping:

byte[] byteData

static constraints = {
    byteData(nullable: false, maxSize: 250000)
}

static mapping = {
    byteData(column: 'byte_data', type: 'binary')
}

Without the DBM plugin, the table in

[2021-12-21 11:43] puneetbehl commented on #253
Please specify the version of Grails® framework and the plugin version.

[2021-12-21 12:22] robertsantiago commented on #253
Grails: 4.0.1
Migration plugin: 3.1.0

[2021-12-23 10:16] rilisema opened #255 "migration scripts not working with Grails 5.0.3"
Hi,

After creating a new grails 5.0.3 project I attempted to get the migration plugin working, but it doesn't seem to work.

### Steps to Reproduce

./grailsw dbm-generate-gorm-changelog changelog.groovy

It immediately fails.
| Error Command not found dbm-generate-gorm-changelog
Did you mean: generate-all or generate-views or generate-controller?

### Environment Information

- **Operating Syste

[2021-12-23 10:21] rilisema opened #256 "The links to the documentation are not working"
The link http://grails-plugins.github.io/grails-database-migration/3.0.x/index.html ends up in a github page saying:

"404
There isn't a GitHub Pages site here.

If you're trying to publish one, read the full documentation to learn how to set up GitHub Pages for your repository, organization, or user account."

Same for the other documentation links

[2021-12-23 13:19] rilisema commented on #255
Apparently my build.gradle was wrong:
[code]

should be
[code]

Solution found  in issue [#191](https://github.com/grails/grails-database-migration/issues/191)

[2021-12-23 13:19] #255 closed

[2021-12-27 09:24] abcfy2 commented on #256
Yes. The correct link should be https://grails.github.io/grails-database-migration/latest/

[2021-12-27 09:35] rilisema commented on #256
Yes! That looks good, please update README accordingly.

[2021-12-27 09:35] #256 closed

[2021-12-27 14:22] abcfy2 opened #257 "Grails 5.1.1 broken: No such property: instance for class: liquibase.servicelocator.ServiceLocator"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

Just generate a `rest-api` from https://start.grails.org/

[code]

Add this plugin:

[code]

Run:

[code]

### Expected Behaviour

Grails 5.1.1 should work.

### Actual

[2021-12-27 14:33] abcfy2 commented on #257
Seems grails 5.1.1 depends on `io.micronaut:micronaut-bom:3.2.3` which bump `liquibase` to `4.5.0`, and breaks `grails-database-migration`.

Add `implementation 'org.liquibase:liquibase-core:3.10.3'` solved this issue.

[2021-12-27 17:47] puneetbehl commented on #257
Please try using the plugin version 4.0.0-RC3

[2021-12-27 23:09] robertsantiago commented on #253
The problem also happens in the latest version of Grails and the latest versions of the migration plugin and Liquibase:

Grails: 5.1.1
Migraion plugin: 4.0.0-RC3
Liquibase: 4.6.2

[2021-12-28 04:59] abcfy2 commented on #257
Yes. `4.0.0-RC3` is also working. Waiting for the final release.

[2021-12-28 04:59] #257 closed

[2021-12-28 09:03] #184 closed

[2021-12-28 09:04] #185 closed

[2022-01-02 03:26] abcfy2 commented on #187
Still not working in Grails 5.1.1 with database-migration 4.0.0. Here is the log output:

[code]

Output is `liquibase.ext: Found column date_created timestamptz` but got `column(name: "date_created", remarks: "created time", type: "timestamp")`

[2022-01-02 05:09] abcfy2 commented on #253
Maybe this issue is the same as https://github.com/grails/grails-database-migration/issues/187 ?

[2022-01-02 11:20] abcfy2 commented on #253
Maybe you should use `sqlType: 'binary'` instead of `type: 'binary'`

[2022-01-02 15:57] robertsantiago commented on #253
abcfy2 Thanks for the help. Unfortunately, using sqlType: 'binary' still yields a similar result but without the constraint:

column(name: "byte_data", type: "BLOB")

[2022-01-02 16:14] robertsantiago commented on #253
Correction: I changed the constraint to nullable: true and that was what caused the result without the constraint. When using nullable: false again, the result of using abcfy2 suggestion (sqlType: 'binary') is the same as above.

[2022-01-03 02:40] abcfy2 commented on #187
I find the reason. Because `dbm-gorm-generate-changelog` will use [`GormDatabase`](https://github.com/grails/grails-database-migration/blob/4.0.x/src/main/groovy/org/grails/plugins/databasemigration/liquibase/GormDatabase.groovy), but liquibase has a special logic with severial databases, like H2, MySQL, MSSQL, Postgresql, and so on in `fixMissing` method, just in here: https://github.com/liquibas

[2022-01-03 02:40] #187 closed

[2022-01-03 02:49] abcfy2 commented on #253
I find the reason, that's liquibase limitation. You can't use this in `dbm-generate-gorm-changelog`. You can find full description in my comment: https://github.com/grails/grails-database-migration/issues/187#issuecomment-1003840577

Maybe you have to drop and create your database and use:

[code]

[2022-01-03 02:49] abcfy2 commented on #253
I find the reason, that's liquibase limitation. You can't use this in `dbm-generate-gorm-changelog`. You can find full description in my comment: https://github.com/grails/grails-database-migration/issues/187#issuecomment-1003840577

Maybe you have to drop and create your database and use:

[code]

[2022-01-03 02:52] abcfy2 commented on #253
Liquibase BLOB type logic can be found here: https://github.com/liquibase/liquibase/blob/6a609ce2cacb67d9a3aeda3f23e942752f935229/liquibase-core/src/main/java/liquibase/datatype/core/BlobType.java#L19

`dbm-generate-gorm-changelog` will use `GormDatabase` not `MysqlDatabase`, which does not connect to MySQL, so liquibase will not use MySQL `BINARY` type to convert this sqlType.

So you have to use

[2022-01-03 20:49] robertsantiago commented on #253
abcfy2, your insight is very close. Indeed creating the changelog from the database and not from GORM is the right workaround. I had to:

1. Recreate the database from GORM.
2. Use dbm-generate-changelog which will generate the correct type. (using dbm-create-changelog creates an empty databaseChangeLog)

In addition, creating the changelog from the database using dbm-generate-changelog works in b

[2022-01-20 18:37] miguelabautista opened #268 "Exception deploying war in tomcat with version 4.0.0"
Tomcat throws an Exception when using new version

NOTE: If I use version 3.1.0 the app is deployed correctly

Exception:

SEVERE [main] org.apache.catalina.startup.HostConfig.deployWAR Error deploying web application archive [E:\apache-tomcat-9.0.33\webapps\prueba.war]
        java.lang.IllegalStateException: Error starting child

see logger file for full logger.

### Environment Information

- *

[2022-01-20 18:37] miguelabautista commented on #268
[logger.txt](https://github.com/grails/grails-database-migration/files/7907701/logger.txt)

[2022-01-23 18:33] jdaugherty commented on #203
Gorm-diff continues to not work with Grails 5.1.2, unless you downgrade the recommend hibernate version.

Grails 5.1.2 suggests hibernate-core:5.6.3.Final for new apps, but 5.6 has a breaking change with the rename of the method `org.hibernate.id.enhanced.SequenceStyleGenerator.generatorKey()`.  The associated issue ticket on the liquibase side is [liquibase-hibernate#378](https://github.com/liqui

[2022-01-23 18:51] jdaugherty opened #269 "derby.log is created after upgrading 4.0.0"
Running bootRun or any database migraiton task now creates a derby.log file under the project root as of 4.0.0.  This can be moved to a logs folder with System.setProperty('derby.stream.error.file', 'logs/derby-error.log'), but it seems like the derby dependency shouldn't be exposed by the plugin.  The cause appears to be `org.liquibase.ext:liquibase-hibernate5`, which pulls in the dependency `org

[2022-01-23 18:54] jdaugherty commented on #269
Adding the below exclude in build.gradle:

     api "org.grails.plugins:database-migration:4.0.0", {
         exclude group: "org.liquibase", module: "liquibase-test-harness"
     }

Works around this issue in the mean time.

[2022-01-26 12:48] davidkron commented on #268
We are experiencing the exact same error in our application and are therefore currently not upgrading to the newest version.
The problem only surfaces when deploying to an external Tomcat, run-app is not affected.

I did some debugging and I managed to track the difference (with and without database-migration plugin) of the execution to the following lines:
https://github.com/spring-projects/sprin

[2022-02-16 13:08] rainboyan commented on #269
I submit a PR here https://github.com/grails/grails-database-migration/pull/275

[2022-03-03 21:18] jasenj1 opened #280 "| Error Command not found dbm-register-changelog"
If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/grails) or Slack (http://slack-signup.grails.org). DO NOT use the issue tracker to ask questions.

### Task List

- [X] Steps to reproduce provided
- [ ] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue p

[2022-03-05 09:56] rilisema commented on #268
Can someone tell me which settings work for grails 5.1.2? I am experiencing this issue also. Version 4.0.1-SNAPSHOT is not working, neither does 4.0.0. When I try to go back to version 3.0.4 I get another error (java.lang.NoClassDefFoundError: org/springframework/boot/liquibase/CommonsLoggingLiquibaseLogger).

[2022-03-13 07:09] snimavat opened #282 "dbm-gorm-diff fails on multiproject build"
In a multiproject build - dbm-gorm-diff - fails

[code]

When dbm-gorm-diff is run in application
Grails tries to run dbm-gorm in plugin also, and fails

`> Task :my-plugin:dbmGormDiff FAILED`

Will fail to generate diff

[2022-03-18 14:07] miguelabautista commented on #268
@davidkron Please test with the new version (4.1.0) I have the same error.

in my case if I do this it works:

 implementation('org.grails.plugins:database-migration:4.1.0') {
        exclude module: 'spring-boot-cli'
 }

[2022-03-18 14:46] miguelabautista opened #286 "Exception deploying war in tomcat with version 4.1.0"
please see issue #268. same error with this version

If I do this the war is deployed successfully:

implementation('org.grails.plugins:database-migration:4.1.0') {
exclude module: 'spring-boot-cli'
}

[2022-04-01 11:16] lynchie14 opened #294 "Unable to generate liquibase XML using the filename extension"
Latest 4.x release defaults the serializer to groovy which means the ability to generate xml based changelogs based on the filename extension no longer works.

### Task List

- [x] Steps to reproduce provided
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

gradlew dbmGormDiff -Pargs="changes.xml"

### Expected Behaviour

changes.xml is created using liquibase XML

[2022-04-18 21:16] beechovsky commented on #154
I am seeing this error still despite having both configuration items above, with the first correctly placed above dependencies as indicated in the documentation.

Operating System: macOS Big Sur 11.6.5
Grails Version: 4.0.10
Plugin Version: 3.1.0
Database: MySQL
JDK Version: 1.8.0_321

[2022-07-17 23:58] davidbairdala commented on #286
This is affecting me also

[2022-08-10 13:20] arjangch commented on #160
For grails 5 (gradle 7)follow instructions in the page
https://grails.github.io/grails-database-migration/4.0.x/index.html

[2022-09-22 15:24] davebrown1975 commented on #104
Any update at all ?

[2022-09-22 15:27] davebrown1975 commented on #203
Any update on this ?

[2022-09-27 06:08] cgoIT opened #304 "Unable to use grailsChange in changelog with liquibase >= 4"
With version 4.1.0 (liquibase version 4.16.0) of this plugin I can't use the grailsChange closure. Using this closure in a changelog leads to the message

`As of Liquibase 4.0, cannot set resource accessor on org.grails.plugins.databasemigration.liquibase.GroovyChange. Must add it to the Scope
`
during the startup.

I think this is because of this line https://github.com/grails/grails-database-mig

[2022-11-05 11:18] davebrown1975 commented on #282
You can configure the dbm* tasks in build.gradle to skip execution in your other modules:

[code]